@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/* APP CSS VARIABLES  */
body {
  margin: unset;

  /* Common color variables across all themes */

  --success-color-hue: 150;

  --success-light-color: hsl(var(--success-color-hue), 53%, 55%);
  --success-color: hsl(var(--success-color-hue), 70%, 39%);
  --success-dark-color: hsl(var(--success-color-hue), 97%, 23%);

  --failure-color-hue: 0;

  --failure-light-color: hsl(var(--failure-color-hue), 96%, 69%);
  --failure-color: hsl(var(--failure-color-hue), 90%, 59%);
  --failure-dark-color: hsl(var(--failure-color-hue), 93%, 38%);

  --warning-color-hue: 46;

  --warning-light-color: hsl(var(--warning-color-hue), 87%, 71%);
  --warning-color: hsl(var(--warning-color-hue), 79%, 60%);
  --warning-dark-color: hsl(var(--warning-color-hue), 74%, 48%);

  --information-color-hue: 239;

  --information-light-color: hsl(var(--information-color-hue), 100%, 76%);
  --information-color: hsl(var(--information-color-hue), 90%, 67%);
  --information-dark-color: hsl(var(--information-color-hue), 70%, 56%);

  /* all colors of grey across all themes */
  --grey-color-000: hsl(0, 0%, 100%);
  --grey-color-025: hsl(0, 0%, 97%);
  --grey-color-050: hsl(0, 0%, 94%);
  --grey-color-075: hsl(0, 0%, 91%);

  --grey-color-100: hsl(0, 0%, 88%);
  --grey-color-125: hsl(0, 0%, 85%);
  --grey-color-150: hsl(0, 0%, 82%);
  --grey-color-175: hsl(0, 0%, 79%);

  --grey-color-200: hsl(0, 0%, 76%);
  --grey-color-225: hsl(0, 0%, 74%);
  --grey-color-250: hsl(0, 0%, 71%);
  --grey-color-275: hsl(0, 0%, 68%);

  --grey-color-300: hsl(0, 0%, 65%);
  --grey-color-325: hsl(0, 0%, 62%);
  --grey-color-350: hsl(0, 0%, 59%);
  --grey-color-375: hsl(0, 0%, 56%);

  --grey-color-400: hsl(0, 0%, 53%);
  --grey-color-425: hsl(0, 0%, 50%);
  --grey-color-450: hsl(0, 0%, 47%);
  --grey-color-475: hsl(0, 0%, 44%);

  --grey-color-500: hsl(0, 0%, 41%);
  --grey-color-525: hsl(0, 0%, 38%);
  --grey-color-550: hsl(0, 0%, 35%);
  --grey-color-575: hsl(0, 0%, 32%);

  --grey-color-600: hsl(0, 0%, 29%);
  --grey-color-625: hsl(0, 0%, 27%);
  --grey-color-650: hsl(0, 0%, 24%);
  --grey-color-675: hsl(0, 0%, 21%);

  --grey-color-700: hsl(0, 0%, 18%);
  --grey-color-725: hsl(0, 0%, 15%);
  --grey-color-750: hsl(0, 0%, 12%);
  --grey-color-775: hsl(0, 0%, 9%);

  --grey-color-800: hsl(0, 0%, 6%);
  --grey-color-825: hsl(0, 0%, 3%);
  --grey-color-850: hsl(0, 0%, 0%);

  /* Common */
  --border-radius: 6px;
  --border-width: max(2px, 0.125em);
  --transition: 0.2s;
  --fast-transition: 0.1s;

  --border: var(--border-width) solid;

  --small-box-shadow: 0px 0px 3px 1px;
  --big-box-shadow: 0px 0px 3px 2px;

  /*! Button */
  --button-padding: 0.25em 0.65em;
  --button-gap: 0.55em;
  --button-right-margin: 10px;

  /*? Very Small Button*/
  --very-small-button-size: 0.67rem;

  /*? Small Button*/
  --small-button-size: 0.8rem;

  /*? Medium Button*/
  --medium-button-size: 1rem;

  /*? Large Button*/
  --large-button-size: 1.2rem;

  /*! Inputs */
  --input-margin-bottom: 18px;

  /*? Small Input*/
  --small-input-height: 28px;
  --small-input-padding-left: 6px;
  --small-input-font-size: 14px;

  /*? Medium Input*/
  --medium-input-height: 34px;
  --medium-input-padding-left: 8px;
  --medium-input-font-size: 16px;

  /*? Large Input*/
  --large-input-height: 40px;
  --large-input-padding-left: 9px;
  --large-input-font-size: 18px;

  /*? Input errors */
  --error-icon-size: 16px;
  --error-icon-margin: 8px;

  /*! Popup */
  --popup-transition: 0.3s;
  --popup-fast-transition: 0.15s;
}

.common-wrapper-container {
  width: 100vw;
  height: 100vh;

  background: var(--background-color);
  color: var(--primary-text-color);

  overflow-x: hidden;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.m-scroll {
  --scroll-width: 8px;
}

.m-scroll.slim-scroll {
  --scroll-width: 6px;
}

.m-scroll::-webkit-scrollbar {
  width: var(--scroll-width);
  height: var(--scroll-width);
}

.m-scroll::-webkit-scrollbar-track {
  background-color: transparent;
  width: var(--scroll-width);
}

.m-scroll::-webkit-scrollbar-thumb {
  border-radius: calc(var(--scroll-width) / 2);
  width: var(--scroll-width);
  background-color: var(--scroll-track-background-color);
}

.light-mode {
  /** Background color */
  --background-color: var(--grey-color-000);
  --popups-background-color: var(--grey-color-050);
  --background-hover-color: var(--grey-color-100);
  --background-active-color: var(--grey-color-125);

  /** Inputs colors */
  --input-background-color: var(--grey-color-125);
  --input-hover-background-color: var(--grey-color-175);
  --input-disabled-background-color: var(--grey-color-050);

  --input-text-color: var(--grey-color-650);
  --input-hover-color: var(--grey-color-700);
  --input-disabled-text-color: var(--grey-color-325);

  --input-placeholder-color: var(--grey-color-475);
  --input-hover-placeholder-color: var(--grey-color-525);

  --color-picker-pointer: var(--grey-color-000);
  --color-picker-dragged-pointer: var(--grey-color-850);

  --input-image-icon-color: var(--grey-color-100);

  --icon-tile-background-color: var(--grey-color-100);
  --icon-tile-hover-background-color: var(--grey-color-125);
  --icon-tile-active-background-color: var(--grey-color-150);

  /** Buttons */
  --btn-outlined-background-color: var(--background-color);

  --btn-full-color: var(--background-color);

  --btn-text-background-color: var(--background-color);

  --btn-neon-hover-color: var(--background-color);
  --btn-neon-background-color: var(--background-color);

  /* Overlay */
  --overlay-background-color: rgba(145, 145, 145, 0.267);

  /* Tooltip */
  --tooltip-color: var(--grey-color-000);
  --tooltip-background-color: var(--grey-color-800);

  /* Alert */
  --alert-disabled-button-background-color: var(--grey-color-050);

  /* Breadcrumb */
  --crumb-background-color: var(--grey-color-075);
  --crumb-hover-background-color: var(--grey-color-125);

  /* Dropdown menu */
  --dropdown-menu-border-color: var(--grey-color-300);
  --dropdown-menu-background-color: var(--grey-color-050);
  --dropdown-menu-disabled-background-color: var(--grey-color-225);
  --dropdown-menu-hover-background-color: var(--grey-color-100);
  --dropdown-menu-active-background-color: var(--grey-color-150);
  --dropdown-menu-highlighted-color: var(--grey-color-600);

  /*? Common */
  --icon-color: var(--grey-color-550);
  --primary-text-color: var(--grey-color-525);
}

.dark-mode {
  /** Background color */
  --background-color: var(--grey-color-650);
  --popups-background-color: var(--grey-color-600);
  --background-hover-color: var(--grey-color-550);
  --background-active-color: var(--grey-color-525);

  /** Inputs colors */
  --input-background-color: var(--grey-color-550);
  --input-hover-background-color: var(--grey-color-500);
  --input-disabled-background-color: var(--grey-color-625);

  --input-text-color: var(--grey-color-100);
  --input-hover-color: var(--grey-color-025);
  --input-disabled-text-color: var(--grey-color-450);

  --input-placeholder-color: var(--grey-color-300);
  --input-hover-placeholder-color: var(--grey-color-150);

  --color-picker-pointer: var(--grey-color-000);
  --color-picker-dragged-pointer: var(--grey-color-850);

  --input-image-icon-color: var(--grey-color-100);

  --icon-tile-background-color: var(--grey-color-550);
  --icon-tile-hover-background-color: var(--grey-color-525);
  --icon-tile-active-background-color: var(--grey-color-500);

  /** Buttons */
  --btn-outlined-background-color: var(--background-color);

  --btn-full-color: var(--background-color);

  --btn-text-background-color: var(--background-color);

  --btn-neon-hover-color: var(--background-color);
  --btn-neon-background-color: var(--background-color);

  /* Overlay */
  --overlay-background-color: rgba(146, 146, 146, 0.275);

  /* Tooltip */
  --tooltip-color: var(--grey-color-800);
  --tooltip-background-color: var(--grey-color-000);

  /* Alert */
  --alert-disabled-button-background-color: var(--grey-color-575);

  /* Breadcrumb */
  --crumb-background-color: var(--grey-color-575);
  --crumb-hover-background-color: var(--grey-color-525);

  /* Dropdown menu */
  --dropdown-menu-border-color: var(--grey-color-375);
  --dropdown-menu-background-color: var(--grey-color-550);
  --dropdown-menu-disabled-background-color: var(--grey-color-600);
  --dropdown-menu-hover-background-color: var(--grey-color-500);
  --dropdown-menu-active-background-color: var(--grey-color-450);
  --dropdown-menu-highlighted-color: var(--grey-color-000);

  /*? Common */
  --icon-color: var(--grey-color-050);
  --primary-text-color: var(--grey-color-100);
}

.light-grey-theme {
  --primary-color_040: hsl(0, 0%, 8%);
  --primary-color_060: hsl(0, 0%, 10%);
  --primary-color_080: hsl(0, 0%, 12%);

  --primary-color_100: hsl(0, 0%, 14%);
  --primary-color_120: hsl(0, 0%, 16%);
  --primary-color_140: hsl(0, 0%, 18%);
  --primary-color_160: hsl(0, 0%, 20%);
  --primary-color_180: hsl(0, 0%, 22%);

  --primary-color_200: hsl(0, 0%, 24%);
  --primary-color_220: hsl(0, 0%, 26%);
  --primary-color_240: hsl(0, 0%, 28%);
  --primary-color_260: hsl(0, 0%, 30%);
  --primary-color_280: hsl(0, 0%, 32%);

  --primary-color_300: hsl(0, 0%, 34%);
  --primary-color_320: hsl(0, 0%, 36%);
  --primary-color_340: hsl(0, 0%, 38%);
  --primary-color_360: hsl(0, 0%, 40%);
  --primary-color_380: hsl(0, 0%, 42%);

  --primary-color_400: hsl(0, 0%, 44%);
  --primary-color_420: hsl(0, 0%, 46%);
  --primary-color_440: hsl(0, 0%, 48%);
  --primary-color_460: hsl(0, 0%, 50%);
  --primary-color_480: hsl(0, 0%, 52%);

  --primary-color_500: hsl(0, 0%, 54%);
  --primary-color_520: hsl(0, 0%, 56%);
  --primary-color_540: hsl(0, 0%, 58%);
  --primary-color_560: hsl(0, 0%, 60%);
  --primary-color_580: hsl(0, 0%, 62%);

  --primary-color_600: hsl(0, 0%, 64%);
  --primary-color_620: hsl(0, 0%, 66%);
  --primary-color_640: hsl(0, 0%, 68%);
  --primary-color_660: hsl(0, 0%, 70%);
  --primary-color_680: hsl(0, 0%, 72%);

  --primary-color_700: hsl(0, 0%, 74%);
  --primary-color_720: hsl(0, 0%, 76%);
  --primary-color_740: hsl(0, 0%, 78%);
  --primary-color_760: hsl(0, 0%, 80%);
  --primary-color_780: hsl(0, 0%, 82%);

  --primary-color_800: hsl(0, 0%, 84%);
  --primary-color_820: hsl(0, 0%, 86%);

  /** Inputs colors */
  --input-label-color: var(--primary-color_320);
  --checkbox-color: var(--primary-color_300);
  --toggle-switch-color: var(--checkbox-color);

  /** Buttons */
  --btn-outlined-color: var(--primary-color_300);
  --btn-full-background-color: var(--primary-color_300);
  --btn-full-hover-background-color: var(--primary-color_460);
  --btn-text-color: var(--primary-color_280);
  --btn-text-hover-color: var(--primary-color_260);
  --btn-text-hover-background-color: var(--primary-color_820);
  --btn-neon-color: var(--primary-color_420);
  --btn-neon-hover-background-color: var(--primary-color_300);

  /* Loader */
  --loader-color: var(--primary-color_280);

  /* Card */
  --card-gradient-colors: var(--primary-color_020), var(--primary-color_820), var(--primary-color_720),
    var(--primary-color_400), var(--primary-color_380), var(--primary-color_220), var(--primary-color_380),
    var(--primary-color_400), var(--primary-color_720), var(--primary-color_820), var(--primary-color_020);

  /* Alert */
  --alert-border-color: var(--primary-color_300);

  /* Breadcrumb */
  --crumb-active-background-color: var(--grey-color-275);
  --crumb-hover-active-background-color: var(--grey-color-400);

  /*? Common */
  --primary-highlighted-text-color: var(--grey-color-625);
  --box-shadow-color: var(--primary-color_440);

  --scroll-track-background-color: var(--primary-color_620);
}

.dark-grey-theme {
  --primary-color_000: hsl(0, 0%, 10%);
  --primary-color_020: hsl(0, 0%, 12%);
  --primary-color_040: hsl(0, 0%, 14%);
  --primary-color_060: hsl(0, 0%, 16%);
  --primary-color_080: hsl(0, 0%, 18%);

  --primary-color_100: hsl(0, 0%, 20%);
  --primary-color_120: hsl(0, 0%, 22%);
  --primary-color_140: hsl(0, 0%, 24%);
  --primary-color_160: hsl(0, 0%, 26%);
  --primary-color_180: hsl(0, 0%, 28%);

  --primary-color_200: hsl(0, 0%, 30%);
  --primary-color_220: hsl(0, 0%, 32%);
  --primary-color_240: hsl(0, 0%, 34%);
  --primary-color_260: hsl(0, 0%, 36%);
  --primary-color_280: hsl(0, 0%, 38%);

  --primary-color_300: hsl(0, 0%, 40%);
  --primary-color_320: hsl(0, 0%, 42%);
  --primary-color_340: hsl(0, 0%, 44%);
  --primary-color_360: hsl(0, 0%, 46%);
  --primary-color_380: hsl(0, 0%, 48%);

  --primary-color_400: hsl(0, 0%, 50%);
  --primary-color_420: hsl(0, 0%, 52%);
  --primary-color_440: hsl(0, 0%, 54%);
  --primary-color_460: hsl(0, 0%, 56%);
  --primary-color_480: hsl(0, 0%, 58%);

  --primary-color_500: hsl(0, 0%, 60%);
  --primary-color_520: hsl(0, 0%, 62%);
  --primary-color_540: hsl(0, 0%, 64%);
  --primary-color_560: hsl(0, 0%, 66%);
  --primary-color_580: hsl(0, 0%, 68%);

  --primary-color_600: hsl(0, 0%, 70%);
  --primary-color_620: hsl(0, 0%, 72%);
  --primary-color_640: hsl(0, 0%, 74%);
  --primary-color_660: hsl(0, 0%, 76%);
  --primary-color_680: hsl(0, 0%, 78%);

  --primary-color_700: hsl(0, 0%, 80%);
  --primary-color_720: hsl(0, 0%, 82%);
  --primary-color_740: hsl(0, 0%, 84%);
  --primary-color_760: hsl(0, 0%, 86%);
  --primary-color_780: hsl(0, 0%, 88%);

  --primary-color_800: hsl(0, 0%, 90%);
  --primary-color_820: hsl(0, 0%, 92%);
  --primary-color_840: hsl(0, 0%, 94%);
  --primary-color_860: hsl(0, 0%, 96%);
  --primary-color_880: hsl(0, 0%, 98%);

  /** Inputs colors */
  --input-label-color: var(--primary-color_780);
  --checkbox-color: var(--primary-color_620);
  --toggle-switch-color: var(--checkbox-color);

  /** Buttons */
  --btn-outlined-color: var(--primary-color_780);
  --btn-full-background-color: var(--primary-color_780);
  --btn-full-hover-background-color: var(--primary-color_560);
  --btn-text-color: var(--primary-color_780);
  --btn-text-hover-color: var(--primary-color_840);
  --btn-text-hover-background-color: var(--primary-color_240);
  --btn-neon-color: var(--primary-color_740);
  --btn-neon-hover-background-color: var(--primary-color_780);

  /* Loader */
  --loader-color: var(--primary-color_780);

  /* Card */
  --card-gradient-colors: var(--primary-color_020), var(--primary-color_100), var(--primary-color_200),
    var(--primary-color_400), var(--primary-color_540), var(--primary-color_700), var(--primary-color_540),
    var(--primary-color_400), var(--primary-color_200), var(--primary-color_100), var(--primary-color_020);

  /* Alert */
  --alert-border-color: var(--primary-color_700);

  /* Accordion */
  --accordion-background: var(--grey-color-475);
  --accordion-hover-background: var(--grey-color-425);
  --highlighted-accordion-background: var(--grey-color-375);

  /* Breadcrumb */
  --crumb-active-background-color: var(--grey-color-375);
  --crumb-hover-active-background-color: var(--grey-color-250);

  /*? Common */
  --primary-highlighted-text-color: var(--grey-color-000);
  --box-shadow-color: var(--primary-color_700);

  --scroll-track-background-color: var(--primary-color_600);
}

.light-custom-theme {
  --hue: 194;
  --saturation: 100%;

  --primary-color_000: hsl(var(--hue), var(--saturation), 1%);
  --primary-color_020: hsl(var(--hue), var(--saturation), 3%);
  --primary-color_040: hsl(var(--hue), var(--saturation), 5%);
  --primary-color_060: hsl(var(--hue), var(--saturation), 7%);
  --primary-color_080: hsl(var(--hue), var(--saturation), 9%);

  --primary-color_100: hsl(var(--hue), var(--saturation), 11%);
  --primary-color_120: hsl(var(--hue), var(--saturation), 13%);
  --primary-color_140: hsl(var(--hue), var(--saturation), 15%);
  --primary-color_160: hsl(var(--hue), var(--saturation), 17%);
  --primary-color_180: hsl(var(--hue), var(--saturation), 19%);

  --primary-color_200: hsl(var(--hue), var(--saturation), 21%);
  --primary-color_220: hsl(var(--hue), var(--saturation), 23%);
  --primary-color_240: hsl(var(--hue), var(--saturation), 25%);
  --primary-color_260: hsl(var(--hue), var(--saturation), 27%);
  --primary-color_280: hsl(var(--hue), var(--saturation), 29%);

  --primary-color_300: hsl(var(--hue), var(--saturation), 31%);
  --primary-color_320: hsl(var(--hue), var(--saturation), 33%);
  --primary-color_340: hsl(var(--hue), var(--saturation), 35%);
  --primary-color_360: hsl(var(--hue), var(--saturation), 37%);
  --primary-color_380: hsl(var(--hue), var(--saturation), 39%);

  --primary-color_400: hsl(var(--hue), var(--saturation), 41%);
  --primary-color_420: hsl(var(--hue), var(--saturation), 43%);
  --primary-color_440: hsl(var(--hue), var(--saturation), 45%);
  --primary-color_460: hsl(var(--hue), var(--saturation), 47%);
  --primary-color_480: hsl(var(--hue), var(--saturation), 49%);

  --primary-color_500: hsl(var(--hue), var(--saturation), 51%);
  --primary-color_520: hsl(var(--hue), var(--saturation), 53%);
  --primary-color_540: hsl(var(--hue), var(--saturation), 55%);
  --primary-color_560: hsl(var(--hue), var(--saturation), 57%);
  --primary-color_580: hsl(var(--hue), var(--saturation), 59%);

  --primary-color_600: hsl(var(--hue), var(--saturation), 61%);
  --primary-color_620: hsl(var(--hue), var(--saturation), 63%);
  --primary-color_640: hsl(var(--hue), var(--saturation), 65%);
  --primary-color_660: hsl(var(--hue), var(--saturation), 67%);
  --primary-color_680: hsl(var(--hue), var(--saturation), 69%);

  --primary-color_700: hsl(var(--hue), var(--saturation), 71%);
  --primary-color_720: hsl(var(--hue), var(--saturation), 73%);
  --primary-color_740: hsl(var(--hue), var(--saturation), 75%);
  --primary-color_760: hsl(var(--hue), var(--saturation), 77%);
  --primary-color_780: hsl(var(--hue), var(--saturation), 79%);

  --primary-color_800: hsl(var(--hue), var(--saturation), 81%);
  --primary-color_820: hsl(var(--hue), var(--saturation), 83%);
  --primary-color_840: hsl(var(--hue), var(--saturation), 85%);
  --primary-color_860: hsl(var(--hue), var(--saturation), 87%);
  --primary-color_880: hsl(var(--hue), var(--saturation), 89%);

  --primary-color_900: hsl(var(--hue), var(--saturation), 91%);
  --primary-color_920: hsl(var(--hue), var(--saturation), 93%);
  --primary-color_940: hsl(var(--hue), var(--saturation), 95%);

  /** Inputs colors */
  --input-label-color: var(--primary-color_580);
  --checkbox-color: var(--primary-color_580);
  --toggle-switch-color: var(--checkbox-color);

  /** Buttons */
  --btn-outlined-color: var(--primary-color_580);
  --btn-full-background-color: var(--primary-color_580);
  --btn-full-hover-background-color: var(--primary-color_680);
  --btn-text-color: var(--primary-color_580);
  --btn-text-hover-color: var(--background-color);
  --btn-text-hover-background-color: var(--primary-color_580);
  --btn-neon-color: var(--primary-color_540);
  --btn-neon-hover-background-color: var(--primary-color_580);

  /* Loader */
  --loader-color: var(--primary-color_580);

  /* Card */
  --card-gradient-colors: var(--primary-color_220), var(--primary-color_380), var(--primary-color_580),
    var(--primary-color_780), var(--primary-color_920), var(--primary-color_780), var(--primary-color_580),
    var(--primary-color_380), var(--primary-color_220);

  /* Alert */
  --alert-border-color: var(--primary-color_500);

  /* Breadcrumb */
  --crumb-active-background-color: var(--primary-color_580);
  --crumb-hover-active-background-color: var(--primary-color_720);

  /* Common */
  --primary-highlighted-text-color: var(--primary-color_580);
  --box-shadow-color: var(--primary-color_580);
  --scroll-track-background-color: var(--primary-color_400);
}

.dark-custom-theme {
  --hue: 194;
  --saturation: 100%;

  --primary-color_000: hsl(var(--hue), var(--saturation), 1%);
  --primary-color_020: hsl(var(--hue), var(--saturation), 3%);
  --primary-color_040: hsl(var(--hue), var(--saturation), 5%);
  --primary-color_060: hsl(var(--hue), var(--saturation), 7%);
  --primary-color_080: hsl(var(--hue), var(--saturation), 9%);

  --primary-color_100: hsl(var(--hue), var(--saturation), 11%);
  --primary-color_120: hsl(var(--hue), var(--saturation), 13%);
  --primary-color_140: hsl(var(--hue), var(--saturation), 15%);
  --primary-color_160: hsl(var(--hue), var(--saturation), 17%);
  --primary-color_180: hsl(var(--hue), var(--saturation), 19%);

  --primary-color_200: hsl(var(--hue), var(--saturation), 21%);
  --primary-color_220: hsl(var(--hue), var(--saturation), 23%);
  --primary-color_240: hsl(var(--hue), var(--saturation), 25%);
  --primary-color_260: hsl(var(--hue), var(--saturation), 27%);
  --primary-color_280: hsl(var(--hue), var(--saturation), 29%);

  --primary-color_300: hsl(var(--hue), var(--saturation), 31%);
  --primary-color_320: hsl(var(--hue), var(--saturation), 33%);
  --primary-color_340: hsl(var(--hue), var(--saturation), 35%);
  --primary-color_360: hsl(var(--hue), var(--saturation), 37%);
  --primary-color_380: hsl(var(--hue), var(--saturation), 39%);

  --primary-color_400: hsl(var(--hue), var(--saturation), 41%);
  --primary-color_420: hsl(var(--hue), var(--saturation), 43%);
  --primary-color_440: hsl(var(--hue), var(--saturation), 45%);
  --primary-color_460: hsl(var(--hue), var(--saturation), 47%);
  --primary-color_480: hsl(var(--hue), var(--saturation), 49%);

  --primary-color_500: hsl(var(--hue), var(--saturation), 51%);
  --primary-color_520: hsl(var(--hue), var(--saturation), 53%);
  --primary-color_540: hsl(var(--hue), var(--saturation), 55%);
  --primary-color_560: hsl(var(--hue), var(--saturation), 57%);
  --primary-color_580: hsl(var(--hue), var(--saturation), 59%);

  --primary-color_600: hsl(var(--hue), var(--saturation), 61%);
  --primary-color_620: hsl(var(--hue), var(--saturation), 63%);
  --primary-color_640: hsl(var(--hue), var(--saturation), 65%);
  --primary-color_660: hsl(var(--hue), var(--saturation), 67%);
  --primary-color_680: hsl(var(--hue), var(--saturation), 69%);

  --primary-color_700: hsl(var(--hue), var(--saturation), 71%);
  --primary-color_720: hsl(var(--hue), var(--saturation), 73%);
  --primary-color_740: hsl(var(--hue), var(--saturation), 75%);
  --primary-color_760: hsl(var(--hue), var(--saturation), 77%);
  --primary-color_780: hsl(var(--hue), var(--saturation), 79%);

  --primary-color_800: hsl(var(--hue), var(--saturation), 81%);
  --primary-color_820: hsl(var(--hue), var(--saturation), 83%);
  --primary-color_840: hsl(var(--hue), var(--saturation), 85%);
  --primary-color_860: hsl(var(--hue), var(--saturation), 87%);
  --primary-color_880: hsl(var(--hue), var(--saturation), 89%);

  --primary-color_900: hsl(var(--hue), var(--saturation), 91%);
  --primary-color_920: hsl(var(--hue), var(--saturation), 93%);
  --primary-color_940: hsl(var(--hue), var(--saturation), 95%);

  /** Inputs colors */
  --input-label-color: var(--primary-color_680);
  --checkbox-color: var(--primary-color_680);
  --toggle-switch-color: var(--checkbox-color);

  /** Buttons */
  --btn-outlined-color: var(--primary-color_680);
  --btn-full-background-color: var(--primary-color_680);
  --btn-full-hover-background-color: var(--primary-color_780);
  --btn-text-color: var(--primary-color_680);
  --btn-text-hover-color: var(--background-color);
  --btn-text-hover-background-color: var(--primary-color_680);
  --btn-neon-color: var(--primary-color_640);
  --btn-neon-hover-background-color: var(--primary-color_680);

  /* Loader */
  --loader-color: var(--primary-color_680);

  /* Card */
  --card-gradient-colors: var(--primary-color_100), var(--primary-color_280), var(--primary-color_480),
    var(--primary-color_680), var(--primary-color_900), var(--primary-color_680), var(--primary-color_480),
    var(--primary-color_280), var(--primary-color_100);

  /* Alert */
  --alert-border-color: var(--primary-color_620);

  /* Breadcrumb */
  --crumb-active-background-color: var(--primary-color_680);
  --crumb-hover-active-background-color: var(--primary-color_540);

  /* Dropdown menu */
  --dropdown-menu-hover-background-color: var(--primary-color_740);
  --dropdown-menu-active-background-color: var(--primary-color_660);

  /* Common */
  --primary-highlighted-text-color: var(--primary-color_680);
  --box-shadow-color: var(--primary-color_680);
  --scroll-track-background-color: var(--primary-color_600);
}
