.date-picker-popup {
  --day-button-width: 34px;
  --date-picker-popup-padding: var(--spacing-2);
  --day-button-gap: 0.5rem;

  position: absolute;
  display: flex;
  flex-direction: column;

  width: calc((7 * var(--day-button-width)) + (var(--date-picker-popup-padding) * 2) + (6 * var(--day-button-gap)));
  border-radius: var(--radius-md);
  padding: var(--date-picker-popup-padding);

  transition: var(--transition-duration-slow);
  z-index: var(--z-index-popover);

  &.mounted,
  &.closing {
    opacity: 0;
  }

  &.opened {
    opacity: 1;
  }

  .date-picker-popup-month-selector {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: center;

    margin-bottom: var(--spacing-2);

    .date-picker-popup-month-text {
      display: flex;
      justify-content: center;
      width: calc(100% - var(--spacing-2));

      .date-picker-popup-dropdown-container {
        width: fit-content;
        height: fit-content;
        border-radius: var(--radius-base);

        span {
          display: inline-block;
          padding: var(--spacing-1) var(--spacing-2);
          border-radius: var(--radius-base);
        }
      }

      .m-dropdown-menu-trigger-container {
        display: inline-block;

        padding: var(--spacing-1);
        border-radius: var(--radius-base);
        line-height: var(--line-height-tight);

        transition: var(--transition-duration-fast);

        &:active {
          font-size: var(--font-size-sm);
        }
      }
    }

    .date-picker-popup-month-icon {
      width: 1rem;
      height: 1rem;
      padding: var(--spacing-1);
      border-radius: var(--radius-base);

      transition: var(--transition-duration-fast);

      &:active {
        transform: scale(0.85);
      }
    }
  }

  .date-picker-popup-week-days-header {
    display: flex;
    gap: var(--spacing-1);
    margin-bottom: var(--spacing-1);

    .date-picker-popup-week-days-header-column {
      flex: 1;

      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-semibold);
      text-align: center;
    }
  }

  .date-picker-popup-dates-container {
    display: flex;
    flex-wrap: wrap;

    gap: var(--day-button-gap);

    width: 100%;
  }
}

.date-picker-popup-dropdown-options {
  width: fit-content !important;

  .m-dropdown-option {
    min-width: fit-content;
    width: 100%;
  }
}
