.m-dropdown-list {
    position: absolute;

    padding-left: 0px;
    border-radius: var(--border-radius) !important;

    list-style: none;
    z-index: 5;

    margin: unset;
}

.m-dropdown-list .m-dropdown-list-item {
    padding: 7px 10px;

    transition: 0.15s;
}

.m-dropdown-list .m-dropdown-list-item.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.m-dropdown-list .m-dropdown-list-item:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.m-dropdown-list .m-dropdown-list-item:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
