/*! BUTTON SECTION */
.light-blue-theme-light-mode-container .m-button {
    color: var(--primary-color_300);
}

.light-blue-theme-light-mode-container .m-button:hover:enabled {
    background-color: var(--primary-color_300);
    color: var(--white);
}

.light-blue-theme-light-mode-container .m-button:active:enabled {
    background-color: var(--primary-color_300);
    color: var(--white);
}

/* VARIANT OUTLINED */
.light-blue-theme-light-mode-container .m-button.outlined {
    border-color: var(--primary-color_300);
    background-color: var(--white);
    color: var(--primary-color_300);
}

/* VARIANT FULL */
.light-blue-theme-light-mode-container .m-button.full {
    border-color: var(--primary-color_300);
    background-color: var(--primary-color_300);
    color: var(--white);
}

.light-blue-theme-light-mode-container .m-button.full:hover {
    border-color: var(--primary-color_150);
    background-color: var(--primary-color_150);
}

/* VARIANT TEXT */
.light-blue-theme-light-mode-container .m-button.text:hover {
    border-color: var(--primary-color_100);
    background-color: var(--primary-color_100);
}
