.light-blue-theme-light-mode-theme .m-card {
    background-color: var(--card-background-color);
    color: var(--input-text);
}

.light-blue-theme-light-mode-theme .m-card.border {
    border: var(--border) var(--border-color);
}

.light-blue-theme-light-mode-theme .m-card.gradient-border-glow::after,
.light-blue-theme-light-mode-theme .m-card.gradient-border-glow::before,
.light-blue-theme-light-mode-theme .m-card.gradient-border::after,
.light-blue-theme-light-mode-theme .m-card.gradient-border::before {
    background: conic-gradient(
        from var(--gradient-angle),
        var(--primary-color_25),
        var(--primary-color_100),
        var(--primary-color_150),
        var(--primary-color_200),
        var(--primary-color_400),
        var(--primary-color_400),
        var(--primary-color_200),
        var(--primary-color_150),
        var(--primary-color_100),
        var(--primary-color_25)
    );
}
