.light-blue-theme-light-mode-container {
    --primary-color: rgb(102, 217, 252);
    --secondary-color: #fff;
    --background-color: #fff;

    --hover-brightness: 0.93;
    --active-brightness: 0.875;

    --input-text-color: #fff;

    --light-blue-color: rgb(205, 241, 252);
    --blue-color: rgb(169, 231, 250);
    --dark-blue-color: rgb(144, 223, 247);
}
