/*! INPUT SECTION */
.light-blue-theme-light-mode-theme .m-input {
    background: var(--input-background-color);
    color: var(--input-text-color) !important;
}

.light-blue-theme-light-mode-theme .m-input:focus {
    box-shadow: var(--big-box-shadow) var(--box-shadow-color);
}

.light-blue-theme-light-mode-theme .m-input:focus,
.light-blue-theme-light-mode-theme .m-input:hover {
    background-color: var(--input-hover-background-color);
}

.light-blue-theme-light-mode-theme .m-input:not(:disabled)::placeholder {
    color: var(--input-placeholder-color);
}

.light-blue-theme-light-mode-theme .m-input-label.right,
.light-blue-theme-light-mode-theme .m-input-label.left {
    color: var(--input-label-color);
}

.light-blue-theme-light-mode-theme .m-input-label.floating {
    color: var(--input-placeholder-color);
}

.light-blue-theme-light-mode-theme .m-input-label.floating.filled,
.light-blue-theme-light-mode-theme .m-input-label.floating.focused {
    color: var(--input-label-color);
}
