.common-wrapper-container .m-alert {
    background-color: var(--background-color);
    border-top-color: var(--alert-border-color);

    .m-alert-header {
        display: flex;
        padding: 1.5rem 2rem 0 2rem;
        width: 100%;

        h4 {
            margin: unset;
        }

        svg:hover {
            background-color: var(--background-hover-color);
        }

        svg:active {
            background-color: var(--background-active-color);
        }
    }

    .m-alert-footer {
        background-color: var(--alert-border-color);

        button {
            background-color: var(--background-color);
            border-top-color: var(--alert-border-color);
            color: var(--primary-text-color);
        }

        button:disabled {
            background-color: var(--alert-disabled-button-background-color);
        }

        button:not(:disabled):hover {
            background-color: var(--background-hover-color);
        }

        button:not(:disabled):active {
            background-color: var(--background-active-color);
        }
    }
}
