.common-wrapper-container .m-alert {
  background-color: var(--background-color);
  border-top-color: var(--alert-border-color);
}

.common-wrapper-container .m-alert .m-alert-header svg:hover {
  background-color: var(--background-hover-color);
}

.common-wrapper-container .m-alert .m-alert-header svg:active {
  background-color: var(--background-active-color);
}

.common-wrapper-container .m-alert .m-alert-footer {
  background-color: var(--alert-border-color);
}

.common-wrapper-container .m-alert .m-alert-footer button {
  background-color: var(--background-color);
  border-top-color: var(--alert-border-color);
  color: var(--primary-text-color);
}

.common-wrapper-container .m-alert .m-alert-footer button:disabled {
  background-color: var(--alert-disabled-button-background-color);
}

.common-wrapper-container .m-alert .m-alert-footer button:not(:disabled):hover {
  background-color: var(--background-hover-color);
}

.common-wrapper-container .m-alert .m-alert-footer button:not(:disabled):active {
  background-color: var(--background-active-color);
}
