.common-wrapper-container .m-input-label.right,
.common-wrapper-container .m-input-label.left {
    color: var(--input-label-color);
}

.common-wrapper-container .m-input-label.floating {
    color: var(--input-placeholder-color);
}

.common-wrapper-container .m-input-container.disabled .m-input-label.floating:not(.filled):not(.focused):not(.forced-floating) {
    color: var(--input-disabled-text-color);
}

.common-wrapper-container .m-input-label.floating.filled,
.common-wrapper-container .m-input-label.floating.focused,
.common-wrapper-container .m-input-label.floating.forced-floating {
    color: var(--input-label-color);
}

.common-wrapper-container
    .m-input-container:not(.disabled)
    .m-input:hover
    + .m-input-label.floating:not(.filled):not(.focused):not(.forced-floating) {
    color: var(--input-hover-placeholder-color);
}
