/* Common */
.common-wrapper-container .m-input-container.error .m-input {
    border: 1px solid var(--failure-color);
    color: var(--failure-color);
}

.common-wrapper-container .m-input-container.error .m-input:focus {
    box-shadow: var(--big-box-shadow) var(--failure-color);
}

.common-wrapper-container .m-input-container.error .m-input:not(:disabled)::placeholder {
    color: var(--failure-color);
}

.common-wrapper-container .m-input-container.error .error-icon {
    color: var(--failure-color);
}

/* Checkbox */
.common-wrapper-container .m-checkbox-container.error .m-checkbox {
    border-width: 2px;
}

/* Dropdown */
.common-wrapper-container .m-dropdown-container .m-dropdown-clear-icon {
    color: var(--failure-color);
}

.common-wrapper-container .m-dropdown-container .m-dropdown-clear-icon:hover {
    color: var(--failure-light-color);
}
