@use "./utils/simple-helpers.scss";
@use "./utils/margin.scss";
@use "./utils/padding.scss";
@use "./utils/size.scss";
@use "./utils/flex.scss";
@use "./utils/border-radius.scss";

@use "./mode/dark-mode.scss";
@use "./mode/light-mode.scss";

@use "./themes/light-custom-theme.scss";
@use "./themes/dark-custom-theme.scss";

@use "./themes/light-default-theme.scss";
@use "./themes/dark-default-theme.scss";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: unset;

  --success-color-hue: 150;
  --success-light-color: hsl(var(--success-color-hue), 53%, 55%);
  --success-color: hsl(var(--success-color-hue), 70%, 39%);
  --success-dark-color: hsl(var(--success-color-hue), 97%, 23%);

  --failure-color-hue: 0;
  --failure-light-color: hsl(var(--failure-color-hue), 96%, 69%);
  --failure-color: hsl(var(--failure-color-hue), 90%, 59%);
  --failure-dark-color: hsl(var(--failure-color-hue), 93%, 38%);

  --warning-color-hue: 46;
  --warning-light-color: hsl(var(--warning-color-hue), 87%, 71%);
  --warning-color: hsl(var(--warning-color-hue), 79%, 60%);
  --warning-dark-color: hsl(var(--warning-color-hue), 74%, 48%);

  --information-color-hue: 239;
  --information-light-color: hsl(var(--information-color-hue), 100%, 76%);
  --information-color: hsl(var(--information-color-hue), 90%, 67%);
  --information-dark-color: hsl(var(--information-color-hue), 70%, 56%);

  --grey-color-000: hsl(0, 0%, 100%);
  --grey-color-025: hsl(0, 0%, 97%);
  --grey-color-050: hsl(0, 0%, 94%);
  --grey-color-075: hsl(0, 0%, 91%);

  --grey-color-100: hsl(0, 0%, 88%);
  --grey-color-125: hsl(0, 0%, 85%);
  --grey-color-150: hsl(0, 0%, 82%);
  --grey-color-175: hsl(0, 0%, 79%);

  --grey-color-200: hsl(0, 0%, 76%);
  --grey-color-225: hsl(0, 0%, 74%);
  --grey-color-250: hsl(0, 0%, 71%);
  --grey-color-275: hsl(0, 0%, 68%);

  --grey-color-300: hsl(0, 0%, 65%);
  --grey-color-325: hsl(0, 0%, 62%);
  --grey-color-350: hsl(0, 0%, 59%);
  --grey-color-375: hsl(0, 0%, 56%);

  --grey-color-400: hsl(0, 0%, 53%);
  --grey-color-425: hsl(0, 0%, 50%);
  --grey-color-450: hsl(0, 0%, 47%);
  --grey-color-475: hsl(0, 0%, 44%);

  --grey-color-500: hsl(0, 0%, 41%);
  --grey-color-525: hsl(0, 0%, 38%);
  --grey-color-550: hsl(0, 0%, 35%);
  --grey-color-575: hsl(0, 0%, 32%);

  --grey-color-600: hsl(0, 0%, 29%);
  --grey-color-625: hsl(0, 0%, 27%);
  --grey-color-650: hsl(0, 0%, 24%);
  --grey-color-675: hsl(0, 0%, 21%);

  --grey-color-700: hsl(0, 0%, 18%);
  --grey-color-725: hsl(0, 0%, 15%);
  --grey-color-750: hsl(0, 0%, 12%);
  --grey-color-775: hsl(0, 0%, 9%);

  --grey-color-800: hsl(0, 0%, 6%);
  --grey-color-825: hsl(0, 0%, 3%);
  --grey-color-850: hsl(0, 0%, 0%);

  /* Font sizes */
  --font-size-2xs: 0.75rem; /* 12px */
  --font-size-xs: 0.8rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.75rem; /* 28px */
  --font-size-4xl: 1.875rem; /* 30px */
  --font-size-5xl: 2.25rem; /* 36px */
  --font-size-5xl: 2.25rem; /* 36px */
  --font-size-6xl: 2.5rem; /* 40px */

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-very-tight: 1
  --line-height-tight: 1.25;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;

  /* Spacing */
  --spacing-0: 0;
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-7: 1.75rem; /* 28px */
  --spacing-8: 2rem; /* 32px */
  --spacing-9: 2.25rem; /* 36px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-11: 2.75rem; /* 44px */
  --spacing-12: 3rem; /* 48px */
  --spacing-16: 4rem; /* 64px */

  /* Border */
  --border-sm: max(1px, 0.0625em);
  --border-base: max(2px, 0.125em);
  --border-md: max(3px, 0.1875em);

  /* Border radius */
  --radius-none: 0;
  --radius-sm: 0.125rem; /* 2px */
  --radius-base: 0.25rem; /* 4px */
  --radius-md: 0.375rem; /* 6px */
  --radius-lg: 0.5rem; /* 8px */
  --radius-xl: 0.75rem; /* 12px */
  --radius-2xl: 1rem; /* 16px */
  --radius-full: 9999px;

  /* Shadows */
  --shadow-sm: 0px 0px 3px 1px;
  --shadow-base: 0px 0px 3px 2px;
  --shadow-md: 0px 0px 3px 2px;
  --shadow-lg: 0px 0px 4px 3px; 
  --shadow-xl: 0px 0px 6px 3px;

  /* Transitions */
  --transition-duration-fast: 150ms;
  --transition-duration-normal: 250ms;
  --transition-duration-slow: 350ms;

  //! Button
  --btn-padding: 0.25em 0.65em;
  --btn-gap: 0.55em;
  --btn-right-margin: 10px;

  --sm-btn-size: var(--font-size-2xs);
  --md-btn-size: var(--font-size-base);
  --lg-btn-size: var(--font-size-xl);

  //! Inputs
  --input-margin-bottom: 18px;

  //* Small Input
  --small-input-height: 24px;
  --small-input-padding-left: 6px;

  ///*Medium Input
  --medium-input-height: 34px;
  --medium-input-padding-left: var(--spacing-2);

  ///*Large Input
  --large-input-height: 40px;
  --large-input-padding-left: 10px;

  ///*Input errors
  --error-icon-size: var(--font-size-base);
  --error-icon-margin: var(--spacing-2);

  //! Alert
  --alert-border-radius: var(--radius-lg);
  --alert-padding: var(--spacing-6);

  //! Common
  --icon-padding: 3px;
}

.common-wrapper-container {
  width: 100vw;
  height: 100vh;

  background: var(--background-color);
  color: var(--primary-text-color_300);

  overflow-x: hidden;
}
