/*! BUTTON SECTION */
/* VARIANT OUTLINED */
.default-theme-light-mode-container .m-button.outlined {
    border-color: var(--dark-grey_300);
    background-color: var(--white);
    color: var(--dark-grey_300);
}

.default-theme-light-mode-container .m-button.outlined:hover:enabled {
    background-color: var(--dark-grey_300);
    color: var(--white);
}

.default-theme-light-mode-container .m-button.outlined:active:enabled {
    border-color: var(--white);
    background-color: var(--dark-grey_300);
    color: var(--white);
}

/* VARIANT FULL */
.default-theme-light-mode-container .m-button.full {
    border-color: var(--dark-grey_300);
    background-color: var(--dark-grey_300);
    color: var(--white);
}

.default-theme-light-mode-container .m-button.full:hover:enabled {
    background-color: var(--light-grey_800);
    border-color: var(--light-grey_800);
    color: var(--white);
}

.default-theme-light-mode-container .m-button.full:active:enabled {
    background-color: var(--light-grey_800);
    border-color: var(--light-grey_800);
    color: var(--white);
}

/* VARIANT TEXT */
.default-theme-light-mode-container .m-button.text:hover {
    background-color: var(--light-grey_200);
}

.default-theme-light-mode-container .m-button.text:active:enabled {
    background-color: var(--white);
}
