/*! CHECKBOX SECTION */
.default-theme-light-mode-container .m-checkbox-container {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-checkbox {
    border-color: var(--dark-grey_300);
}

.default-theme-light-mode-container .m-checkbox:hover {
    background: var(--light-grey_400) !important;
}
