/*! DROPDOWN SECTION */
.default-theme-light-mode-container .m-dropdown-container {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-dropdown-container .m-dropdown-clear-icon:hover {
    background: var(--light-grey_700);
}

.default-theme-light-mode-container .m-dropdown {
    background: var(--light-grey_400);
}

.default-theme-light-mode-container .m-dropdown::placeholder {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-dropdown-label {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-dropdown:not(:disabled):hover,
.default-theme-light-mode-container .m-dropdown:not(:disabled):focus {
    background-color: var(--light-grey_200);
}

.default-theme-light-mode-container .m-dropdown-list .m-dropdown-list-item {
    color: var(--dark-grey_400);
    background-color: var(--light-grey_400);
}

.default-theme-light-mode-container .m-dropdown-list .m-dropdown-list-item:not(.empty-message):hover {
    background-color: var(--light-grey_200);
}

.default-theme-light-mode-container .m-dropdown-list .m-dropdown-list-item:not(.empty-message):active,
.default-theme-light-mode-container .m-dropdown-list .m-dropdown-list-item:not(.empty-message).selected {
    background-color: var(--light-grey_200);
}
