.default-theme-light-mode-theme .m-input-label.right,
.default-theme-light-mode-theme .m-input-label.left {
    color: var(--input-label-color) !important;
}

.default-theme-light-mode-theme .m-input-label.floating {
    color: var(--input-placeholder-color);
}

.default-theme-light-mode-theme .m-textfield:hover + .m-input-label.floating,
.default-theme-light-mode-theme .m-input-label.floating.filled,
.default-theme-light-mode-theme .m-input-label.floating.focused {
    color: var(--input-hover-placeholder-color);
}
