/*! INPUT SECTION */
.default-theme-light-mode-container .m-input-container {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-input {
    background: var(--light-grey_400);
}

.default-theme-light-mode-container .m-input::placeholder {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-input-label {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-input:focus,
.default-theme-light-mode-container .m-input:hover {
    background-color: var(--light-grey_200);
}
