/*! INPUT SECTION */
.default-theme-light-mode-container .m-input-container {
    color: var(--input-text-color);
}

.default-theme-light-mode-container .m-input {
    background: var(--grey-color);
}

.default-theme-light-mode-container .m-input::placeholder {
    color: var(--input-text-color);
}

.default-theme-light-mode-container .m-input-label {
    color: var(--input-text-color);
}

.default-theme-light-mode-container .m-input:focus,
.default-theme-light-mode-container .m-input:hover {
    background-color: var(--light-grey-color);
}
