.default-theme-light-mode-container {
    --primary-color: #686868;
    --secondary-color: #fff;
    --background-color: #fff;

    --hover-brightness: 1.225;
    --active-brightness: 1.225;

    --input-text-color: rgb(80, 80, 80);

    --light-grey-color: rgb(223, 223, 223);
    --grey-color: rgb(201, 200, 200);
    --dark-grey-color: rgb(163, 163, 163);
}
