/*! TEXTAREA SECTION */
.default-theme-light-mode-container .m-textarea-container {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-textarea {
    background: var(--light-grey_400);
}

.default-theme-light-mode-container .m-textarea::placeholder {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-textarea-label {
    color: var(--dark-grey_400);
}

.default-theme-light-mode-container .m-textarea:focus,
.default-theme-light-mode-container .m-textarea:hover {
    background-color: var(--light-grey_200);
}

.default-theme-light-mode-container .m-textarea-container .m-textarea::-webkit-scrollbar-thumb {
    background-color: var(--white);
}
