@use "./Toasts.theme.scss";

.toasts-list {
  position: fixed;
  width: fit-content;
  max-height: 100vh;
  overflow: hidden auto;
  z-index: 1000;

  &.top-left,
  &.top-right {
    top: 1rem;
  }

  &.bottom-left,
  &.bottom-right {
    bottom: 1rem;
  }

  &.top-left,
  &.bottom-left {
    left: 1rem;

    .toast {
      animation-name: toast-in-left;
      animation-duration: var(--transition-duration-slow);
    }
  }

  &.top-right,
  &.bottom-right {
    right: 1rem;

    .toast {
      animation-name: toast-in-right;
      animation-duration: var(--transition-duration-slow);
    }
  }

  .toast {
    position: relative;

    display: flex;

    min-width: 344px;
    max-width: 344px;

    min-height: 70px;

    border-radius: var(--radius-md);
    margin-bottom: var(--spacing-1);

    font-size: var(--font-size-sm);

    transition: transform var(--transition-duration-slow), opacity var(--transition-duration-slow),
      box-shadow var(--transition-duration-slow) ease-in-out;

    &.success {
      svg:not(.close-icon) {
        width: 27px;
        height: 27px;
      }
    }

    // toast variant icon
    svg:not(.close-icon) {
      min-width: 30px;
      min-height: 30px;
      margin: auto;
      margin-left: var(--spacing-4);
      margin-right: unset;
    }

    .text-content {
      display: flex;
      flex-direction: column;
      padding: var(--spacing-3) var(--spacing-4) var(--spacing-4) var(--spacing-0);
      margin-left: var(--spacing-4);

      .toast-title {
        width: fit-content;
        padding: unset;
        margin: unset;

        font-size: var(--font-size-base);
        font-weight: var(--font-weight-semibold);
        text-transform: capitalize;
      }

      .toast-message {
        display: inline-block;

        width: fit-content;
        margin-top: var(--spacing-1);
      }
    }

    svg.close-icon {
      position: absolute;

      top: 8px;
      right: 8px;

      height: 24px;
      width: 24px;
      padding: var(--spacing-1);
      border-radius: var(--radius-full);

      transition: var(--transition-duration-normal);

      &:active {
        transform: scale(0.8);
      }
    }
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
