@use "./InputContainer.theme.scss";

.m-input-container {
  position: relative;

  display: flex;
  align-items: center;

  height: var(--input-height);
  width: 100%;

  &.margin-bottom-small {
    margin-bottom: var(--small-input-margin-bottom);
  }

  &.margin-bottom-large {
    margin-bottom: var(--large-input-margin-bottom);
  }

  &.small {
    --input-height: var(--small-input-height);
    --input-font-size: var(--font-size-sm);
    --input-padding-left: var(--small-input-padding-left);
  }

  &.medium {
    --input-height: var(--medium-input-height);
    --input-font-size: var(--font-size-base);
    --input-padding-left: var(--medium-input-padding-left);
  }

  &.large {
    --input-height: var(--large-input-height);
    --input-font-size: var(--font-size-lg);
    --input-padding-left: var(--large-input-padding-left);
  }
}
