@use "./InputContainer.theme.scss";

.m-input-container {
  position: relative;

  display: flex;
  align-items: center;

  height: var(--input-height);
  width: 100%;

  &.bottom-margin {
    margin-bottom: var(--input-margin-bottom);
  }

  &.small {
    --input-height: var(--small-input-height);
    --input-font-size: var(--small-input-font-size);
    --input-padding-left: var(--small-input-padding-left);
  }

  &.medium {
    --input-height: var(--medium-input-height);
    --input-font-size: var(--medium-input-font-size);
    --input-padding-left: var(--medium-input-padding-left);
  }

  &.large {
    --input-height: var(--large-input-height);
    --input-font-size: var(--large-input-font-size);
    --input-padding-left: var(--large-input-padding-left);
  }
}
