.m-button {
    border: var(--btn-border);
    border-radius: var(--border-radius);
    margin-right: var(--btn-right-margin);
    padding: 2px 5px;

    font-weight: 600;
    font-size: 1.1rem;

    transition: 0.2s;

    cursor: pointer;
}

.m-button .left-svg {
    margin-right: 0.5em;
    background-color: inherit;
}

.m-button .right-svg {
    margin-left: 0.5em;
    background-color: inherit;
}

.m-button:active:enabled {
    transition: 0.1s;
    transform: scale(0.95);
}

.m-button.text {
    background-color: transparent;
    border-color: transparent;
}

.m-button:disabled {
    opacity: 0.6;
}
