.m-icon-field-popup-content {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.m-icon-field-popup-content .m-textfield-container {
  margin-top: 0.25rem;
  padding-right: 1.35rem;
  margin-bottom: 0.5rem;
}

.m-icon-grid-container {
  display: flex;
  flex-wrap: wrap;

  max-height: 100%;
  gap: 0.5rem;
  padding-right: 1rem;

  overflow-y: auto;
}

.m-icon-grid-container .m-icon-tile {
  flex-grow: 1;
  flex-basis: 200;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 8rem;
  height: 10rem;
  border-radius: var(--border-radius);
  padding: 0.5rem;

  transition: var(--transition);
}

.m-icon-grid-container .m-icon-tile .m-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  width: 100%;
}

.m-icon-grid-container .m-icon-tile .m-icon-container .m-icon {
  height: 3rem;
}

.m-icon-grid-container .m-icon-tile .m-icon-name {
  display: flex;
  align-items: center;

  height: 4rem;

  font-size: 0.85rem;
}
