.m-dropdown-menu {
  position: absolute;

  width: fit-content;
  padding: unset;
  margin: unset;
  border: 1px solid;
  border-radius: var(--border-radius);

  font-size: 0.95rem;
  list-style: none;

  transition: opacity var(--fast-transition);
}

.m-dropdown-menu .m-dropdown-menu-empty-message {
  width: 150px;
  padding: 0.25rem 0;
  text-align: center;
}
