.common-wrapper-container {
  .m-icon-grid-container {
    .m-icon-tile {
      background-color: var(--icon-tile-background-color);

      &:hover:not(&:active):not(.selected) {
        background-color: var(--icon-tile-hover-background-color);
      }

      &:active,
      &.selected {
        background-color: var(--icon-tile-active-background-color);
      }
    }
  }
}
