.standalone-textfield-wrapper {
  position: relative;
}

.standalone-textfield-wrapper .m-textfield-prefix {
  display: flex;
  align-items: center;
  position: absolute;
  height: calc(var(--input-height) - 1px);
  font-size: var(--input-font-size);
  top: 0px;
}

.m-textfield {
  box-sizing: border-box;

  width: 100%;
  height: var(--input-height);
  padding-left: var(--input-padding-left);
  border-radius: var(--border-radius);
  border: none;
  outline: none;

  font-size: var(--input-font-size);
  transition: var(--transition);
}

.m-textfield:hover {
  transition: var(--transition);
}

.m-textfield:focus {
  transition: var(--fast-transition);
}
