.m-checkbox-container {
    position: relative;

    display: flex;

    margin-bottom: var(--input-margin-bottom);
}

.m-checkbox-container .m-checkbox-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox-check-icon {
    opacity: 0;
    position: absolute;
    left: 2px;
    top: 1px;
    transition: 0.15s;
}

.m-checkbox-container .m-checkbox-input-wrapper.checked .m-checkbox-check-icon {
    opacity: 1;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox-input {
    display: none;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox {
    width: var(--checkbox-input-size);
    height: var(--checkbox-input-size);
    margin: 0px;
    border-radius: var(--border-radius);
    border: var(--border);
    transition: 0.15s;
    position: relative;

    cursor: pointer;
}

.m-checkbox-container .m-checkbox-label {
    position: absolute;
    padding-left: var(--input-label-padding-left);
    pointer-events: none;
}

.m-checkbox-container .m-checkbox-label.left,
.m-checkbox-container .m-checkbox-label.right {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.m-checkbox-container .m-checkbox-label.left {
    left: 0;
}

/* error section */
.m-checkbox-container.error .m-checkbox {
    border: 2px solid var(--failure-color) !important;
    color: var(--failure-color) !important;
}
.m-checkbox-container.error .m-checkbox .m-checkbox-check-icon {
    color: var(--failure-color) !important;
}

.m-checkbox-container.error .m-checkbox:focus {
    box-shadow: var(--big-box-shadow) var(--failure-color);
}

.m-checkbox-container.error .m-checkbox:not(:disabled)::placeholder {
    color: var(--failure-color) !important;
}

.m-checkbox-container.error .m-checkbox-label {
    color: var(--failure-color) !important;
}
