.m-checkbox-container {
    position: relative;
    display: flex;

    margin-bottom: var(--input-margin-bottom);
    height: var(--input-height);
    width: 100%;
}

.m-checkbox-container.small {
    --checkbox-input-size: var(--small-input-checkbox-size);
    --input-font-size: var(--small-input-font-size);
    --input-padding-left: var(--small-input-padding-left);
}

.m-checkbox-container.medium {
    --checkbox-input-size: var(--medium-input-checkbox-size);
    --input-font-size: var(--medium-input-font-size);
    --input-padding-left: var(--medium-input-padding-left);
}

.m-checkbox-container.large {
    --checkbox-input-size: var(--large-input-checkbox-size);
    --input-font-size: var(--large-input-font-size);
    --input-padding-left: var(--large-input-padding-left);
}

.m-checkbox-container .m-checkbox-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox-check-icon {
    position: absolute;
    left: 1px;
    top: 1px;

    width: calc(var(--checkbox-input-size) - 6px);
    height: calc(var(--checkbox-input-size) - 6px);
    opacity: 0;
    transition: 0.15s;
}

.m-checkbox-container .m-checkbox-input-wrapper.checked .m-checkbox-check-icon {
    opacity: 1;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox-input {
    display: none;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox {
    width: var(--checkbox-input-size);
    height: var(--checkbox-input-size);
    margin: 0px;
    border-radius: var(--border-radius);
    border: var(--border);
    transition: 0.15s;
    position: relative;
    cursor: pointer;
}

/* error section */
.m-checkbox-container.error .m-checkbox {
    border: 2px solid var(--failure-color) !important;
    color: var(--failure-color) !important;
}
.m-checkbox-container.error .m-checkbox .m-checkbox-check-icon {
    color: var(--failure-color) !important;
}

.m-checkbox-container.error .m-checkbox:focus {
    box-shadow: var(--big-box-shadow) var(--failure-color);
}

.m-checkbox-container.error .m-checkbox:not(:disabled)::placeholder {
    color: var(--failure-color) !important;
}
