.m-checkbox-container .m-checkbox-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox-check-icon {
    position: absolute;
    left: 1px;
    top: 1px;

    width: calc(var(--checkbox-input-size) - 6px);
    height: calc(var(--checkbox-input-size) - 6px);
    opacity: 0;
    transition: 0.15s;
}

.m-checkbox-container .m-checkbox-input-wrapper.checked .m-checkbox-check-icon {
    opacity: 1;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox-input {
    display: none;
}

.m-checkbox-container .m-checkbox-input-wrapper .m-checkbox {
    position: relative;

    width: var(--checkbox-input-size);
    height: var(--checkbox-input-size);
    margin: 0px;
    border-radius: var(--border-radius);
    border: var(--border);

    transition: 0.15s;
}

.m-checkbox-container:not(.disabled) .m-checkbox-input-wrapper .m-checkbox {
    cursor: pointer;
}
