.m-accordion .m-accordion-item {
  display: flex;
  align-items: center;

  background-color: var(--grey-color-575);
}

/* default variant */
.m-accordion.default .m-accordion-item {
  height: 2rem;
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

.m-accordion.default .m-accordion-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* compact variant */
.m-accordion.compact .m-accordion-item {
  height: 1.25rem;
  padding: 0.25rem;
  border-radius: calc(var(--border-radius) / 2);

  font-size: 0.9rem;
  line-height: 20px;
}

.m-accordion.compact .m-accordion-item:not(:last-child) {
  margin-bottom: 0.25rem;
}
