.m-accordion {
  .m-accordion-content-wrapper {
    &.collapsed {
      max-height: 0px;
      overflow: hidden;
    }

    &.expanded {
      max-height: var(--content-height);
    }
  }

  &.default {
    .m-accordion-content-wrapper {
      .m-accordion-content {
        padding: var(--spacing-2);
      }
    }
  }

  &.compact {
    .m-accordion-content-wrapper {
      .m-accordion-content {
        padding: var(--spacing-1);
      }
    }
  }

  &.smooth-expand-animation {
    .m-accordion-content-wrapper {
      transition: max-height var(--transition-duration-normal);
    }
  }

  &.instant-expand-animation {
    .m-accordion-content-wrapper {
      transition: max-height 0s;
    }
  }
}
