.toasts-list {
    position: fixed;
    width: fit-content;
    max-height: 100vh;
    overflow: hidden auto;
}

.toasts-list.top-right {
    top: 1rem;
    right: 1rem;
}

.toasts-list.top-left {
    top: 1rem;
    left: 1rem;
}

.toasts-list.bottom-right {
    bottom: 1rem;
    right: 1rem;
}

.toasts-list.bottom-left {
    bottom: 1rem;
    left: 1rem;
}

.toasts-list .toast {
    position: relative;

    display: flex;
    align-items: center;

    max-width: 225px !important;
    padding: 12px 32px 12px 16px;
    border-radius: 6px;

    background-color: #777;

    margin-bottom: 5px;

    font-size: 0.8rem;

    transition: transform var(250ms), opacity var(250ms), box-shadow var(250ms) ease-in-out;
}

.toasts-list.top-right .toast,
.toasts-list.bottom-right .toast {
    animation-name: toast-in-right;
    animation-duration: 250ms;
}

.toasts-list.top-left .toast,
.toasts-list.bottom-left .toast {
    animation-name: toast-in-left;
    animation-duration: 250ms;
}

@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.toasts-list .toast span {
    display: inline-block;

    width: fit-content;
    margin-left: 12px;
}

.toasts-list .toast svg:not(.close-icon) {
    font-size: 1.25rem;
}

.toasts-list .toast svg.close-icon {
    position: absolute;

    top: 4px;
    right: 6px;

    height: 12px;
    width: 12px;
    transition: 0.25s;

    padding: 2px;

    border-radius: 100%;
}

.toasts-list .toast svg.close-icon:hover {
    background-color: #555;
}

.toasts-list .toast svg.close-icon:active {
    background-color: #555;
    transform: scale(0.85);
}

.toasts-list .toast.success svg:not(.close-icon) {
    fill: rgb(16, 170, 16) !important;
}

.toasts-list .toast.failure svg:not(.close-icon) {
    fill: rgb(226, 3, 3) !important;
}

.toasts-list .toast.warning svg:not(.close-icon) {
    fill: rgb(0, 89, 255) !important;
}

.toasts-list::-webkit-scrollbar {
    width: 6px;
}

.toasts-list::-webkit-scrollbar-track {
    /* background-color */
}

.toasts-list::-webkit-scrollbar-thumb {
    border-radius: 6px;
    /* background-color */
}

.toasts-list::-webkit-scrollbar-thumb:window-inactive {
    /* background-color */
}
