.m-slider-container .m-slider {
  height: var(--input-height);
  margin: unset;
}

.m-slider-container .m-slider {
  -webkit-appearance: none;
  appearance: none;

  height: 4px !important;
  border-radius: 4px;
  outline: none;

  opacity: 1;
}

.m-slider-container:not(.disabled) .m-slider {
  cursor: pointer;
}

.m-slider-container .m-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.m-slider-container .m-slider:not(:disabled)::-webkit-slider-thumb {
  cursor: pointer;
}

.m-slider-container .m-relative-value-container {
  position: relative;
}

.m-slider-container .m-relative-value-container .m-slider-value-preview {
  position: absolute;
  font-size: 14px;

  top: 7px;
}

.m-slider-container .m-relative-value-container .m-slider-value-preview.top-static,
.m-slider-container .m-relative-value-container .m-slider-value-preview.bottom-static {
  left: 5px;
  transform: translateX(-100%);
}

.m-slider-container .m-relative-value-container .m-slider-value-preview.top-dynamic,
.m-slider-container .m-relative-value-container .m-slider-value-preview.bottom-dynamic {
  right: 0;
}

.m-slider-container .m-relative-value-container .m-slider-value-preview.top-static,
.m-slider-container .m-relative-value-container .m-slider-value-preview.top-dynamic {
  top: unset;
  bottom: 7px;
}
