.m-accordion .m-accordion-section {
  width: 100%;
  overflow: hidden;
  transition: var(--transition);
}

/* default variant */
.m-accordion.default .m-accordion-section {
  border-radius: var(--border-radius);
}

.m-accordion.default .m-accordion-section:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* compact variant */
.m-accordion.compact .m-accordion-section {
  border-radius: calc(var(--border-radius) / 2);
}

.m-accordion.compact .m-accordion-section:not(:last-child) {
  margin-bottom: 0.25rem;
}
