@use "generate-spacing-classes" as *;

$max-px: 768;
$max-rem: 128;
$max-percent: 100;

@include generate-spacing-classes("w", "width", $max-px, "px", 1px);
@include generate-spacing-classes("w", "width", $max-rem, "rem", 0.25rem);
@include generate-spacing-classes("w", "width", $max-percent, "percent", 1%);

@include generate-spacing-classes("h", "height", $max-px, "px", 1px);
@include generate-spacing-classes("h", "height", $max-rem, "rem", 0.25rem);
@include generate-spacing-classes("h", "height", $max-percent, "percent", 1%);

@include generate-spacing-classes("w-min", "width", $max-px, "px", 1px);
@include generate-spacing-classes("w-min", "width", $max-rem, "rem", 0.25rem);
@include generate-spacing-classes("w-min", "width", $max-percent, "percent", 1%);

@include generate-spacing-classes("h-min", "height", $max-px, "px", 1px);
@include generate-spacing-classes("h-min", "height", $max-rem, "rem", 0.25rem);
@include generate-spacing-classes("h-min", "height", $max-percent, "percent", 1%);

@include generate-spacing-classes("w-max", "width", $max-px, "px", 1px);
@include generate-spacing-classes("w-max", "width", $max-rem, "rem", 0.25rem);
@include generate-spacing-classes("w-max", "width", $max-percent, "percent", 1%);

@include generate-spacing-classes("h-max", "height", $max-px, "px", 1px);
@include generate-spacing-classes("h-max", "height", $max-rem, "rem", 0.25rem);
@include generate-spacing-classes("h-max", "height", $max-percent, "percent", 1%);
