.m-textfield-container .m-textfield {
    box-sizing: border-box;

    height: var(--input-height);
    padding-left: var(--input-padding-left);
    border-radius: var(--border-radius);
    border: none;
    outline: none;

    font-size: var(--input-font-size);
    transition: 0.2s ease-in-out;
}

.m-textfield-container .m-textfield:hover {
    transition: 0.2s;
}
.m-textfield-container .m-textfield:focus {
    transition: 0.1s;
}
