@use "./Tooltip.theme.scss";

.tooltip {
  position: absolute;
  width: fit-content;

  padding: 5px 10px;
  border-radius: var(--border-radius);

  font-size: 13px;
  overflow-wrap: break-word !important;

  opacity: 0.85;

  z-index: 10;
}
