.common-wrapper-container {
  .m-breadcrumb {
    &.default {
      .m-crumb {
        --current-crumb-background-color: var(--crumb-background-color);

        background-color: var(--current-crumb-background-color);

        &:last-child {
          --current-crumb-background-color: var(--crumb-active-background-color);

          color: var(--background-color);

          &:not(.disabled):hover {
            --current-crumb-background-color: var(--crumb-hover-active-background-color);
          }
        }

        &:not(:first-child)::before {
          border-color: transparent var(--background-color) transparent transparent;
        }

        &:not(:last-child) {
          &::after {
            border-color: transparent var(--current-crumb-background-color) transparent transparent;
          }

          &:not(.disabled):hover {
            --current-crumb-background-color: var(--crumb-hover-background-color);
          }
        }
      }
    }

    &.compact {
      .m-crumb {
        &:not(.disabled):hover {
          color: var(--primary-highlighted-text-color);
        }

        .m-crumb-indicator-icon {
          color: var(--icon-color);
        }
      }
    }
  }
}
