@use "./ColorPickerCanvas.theme.scss";

.color-picker-canvas-container {
  position: relative;
  height: 200px;

  .color-picker-pointer {
    position: absolute;

    width: 0.75rem;
    height: 0.75rem;

    border: var(--border-base) solid;

    border-radius: var(--radius-full);
    pointer-events: none;

    transform: translate(-50%, -50%);
  }
}
