@use "./Crumb.theme.scss";

.m-breadcrumb .m-crumb {
  position: relative;

  display: flex;
  align-items: center;

  &:not(.hidden-crumb) {
    flex-shrink: 1;
    min-width: 0;
  }

  cursor: pointer;

  &:last-child,
  .m-crumb-icon {
    flex-shrink: 0;
  }

  &.disabled {
    cursor: default;
  }

  .m-crumb-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.m-breadcrumb.default .m-crumb {
  --crumb-height: calc((var(--crumb-vertical-padding) * 2) + (1rem * var(--line-height-normal)));
  --crumb-vertical-padding: 0.5em;
  --crumb-horizontal-padding: 1em;

  --pseudo-element-size: calc(var(--crumb-vertical-padding) + 0.75em);

  position: relative;

  height: var(--crumb-height);
  padding: var(--crumb-vertical-padding) var(--crumb-horizontal-padding);
  border-right: none;

  transition: background-color var(--transition-duration-normal);

  .m-crumb-icon,
  .m-crumb-label {
    position: relative;
    z-index: 2;
  }

  &:not(:first-child) {
    margin-left: var(--pseudo-element-size);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      z-index: 1;

      border-style: solid;
      border-width: var(--pseudo-element-size) var(--pseudo-element-size) var(--pseudo-element-size) 0;

      transition: var(--transition-duration-normal);
      transform: rotate(180deg);
    }
  }

  &:not(:last-child) {
    &::after {
      --square-size: calc(var(--crumb-height) / 1.414);

      content: "";
      position: absolute;
      left: 100%;
      z-index: 1;

      width: var(--square-size);
      height: var(--square-size);

      transform: translateX(-50%) rotate(45deg);
    }
  }

  &:first-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    padding-left: var(--crumb-horizontal-padding);
  }

  &:last-child {
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    font-weight: var(--font-weight-semibold);
  }

  .m-crumb-icon {
    margin-right: var(--spacing-2);
  }

  .m-crumb-label {
    height: calc(1rem * var(--line-height-normal));
  }
}

.m-breadcrumb.compact .m-crumb {
  transition: var(--transition-duration-normal);

  .m-crumb-icon {
    margin-right: var(--spacing-2);
  }
}
