.m-image-container {
  .m-image-input-wrapper {
    .m-image-dropzone {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
      width: 100%;
      min-width: 232px;
      border-radius: var(--border-radius);
    }
  }

  .m-image-dropzone-icon {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }

  .m-image-dropzone-message {
    margin: unset;
    font-size: 0.8rem;

    .m-bold-message-main {
      font-weight: bold;
    }

    .m-underline-message-main {
      text-decoration: underline;
    }
  }
}
