@use "./ToggleSwitch.theme.scss";

.m-toggle-switch-container {
  &.small {
    --toggle-switch-input-size: calc(var(--input-height) - 8px);
  }

  &.medium {
    --toggle-switch-input-size: calc(var(--input-height) - 12px);
  }

  &.large {
    --toggle-switch-input-size: calc(var(--input-height) - 14px);
  }

  &.error {
    .m-toggle-switch-input-wrapper {
      .m-toggle-switch-slider {
        &::before {
          top: calc(var(--border-base) - 1px);
          left: calc(var(--border-base) - 1px);
        }
      }
    }
  }

  .m-toggle-switch-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 100%;

    .m-toggle-switch-input {
      display: none;

      &:checked ~ .m-toggle-switch-slider {
        &::before {
          transform: translateX(var(--toggle-switch-input-size));
        }
      }
    }

    .m-toggle-switch-slider {
      position: relative;
      display: block;

      width: calc(var(--toggle-switch-input-size) * 2);
      height: var(--toggle-switch-input-size);
      border-radius: calc(var(--toggle-switch-input-size) / 2);
      border: unset;

      transition: var(--transition-duration-normal);

      &::before {
        content: "";

        position: absolute;
        top: var(--border-base);
        left: var(--border-base);

        height: calc(var(--toggle-switch-input-size) - (var(--border-base) * 2));
        width: calc(var(--toggle-switch-input-size) - (var(--border-base) * 2));
        border-radius: var(--radius-full);

        transition: var(--transition-duration-normal);
      }
    }
  }
}
