.m-dropdown-menu,
.m-dropdown-menu .m-dropdown-menu-item .m-dropdown-submenu {
  background-color: var(--dropdown-menu-background-color);
  color: var(--primary-text-color);
}

.m-dropdown-menu {
  .m-dropdown-menu-item {
    background-color: var(--dropdown-menu-background-color);

    &.disabled {
      background-color: var(--dropdown-menu-disabled-background-color);
    }

    &:not(.disabled):hover {
      background-color: var(--dropdown-menu-hover-background-color);
    }

    &:not(.disabled).item-active,
    &:not(.disabled):active {
      background-color: var(--dropdown-menu-active-background-color);
    }

    &:not(.disabled):hover,
    &:not(.disabled).item-active,
    &:not(.disabled):active {
      color: var(--dropdown-menu-highlighted-color);
    }
  }
}
