.m-grid-row {
    display: flex;
    flex-wrap: wrap;

    --col-gap: 1rem;
}

@media (min-width: 520px) and (max-width: 768px) {
    .m-grid-row.col-sm-gap {
        gap: var(--col-gap);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .m-grid-row.col-md-gap {
        gap: var(--col-gap);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .m-grid-row.col-lg-gap {
        gap: var(--col-gap);
    }
}

@media (min-width: 1200px) {
    .m-grid-row.col-xl-gap {
        gap: var(--col-gap);
    }
}
