.m-grid-row {
  display: flex;
  flex-wrap: wrap;

  --sm-gap: 1rem;
  --md-gap: 1rem;
  --lg-gap: 1rem;
  --xl-gap: 1rem;
}

@media (max-width: 767.98px) {
  .m-grid-row.sm-gap {
    gap: var(--sm-gap);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .m-grid-row.md-gap {
    gap: var(--md-gap);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .m-grid-row.lg-gap {
    gap: var(--lg-gap);
  }
}

@media (min-width: 1200px) {
  .m-grid-row.xl-gap {
    gap: var(--xl-gap);
  }
}
