.m-side-panel {
  position: fixed;
  top: 0;

  width: 300px;
  height: 100vh;
  padding: var(--spacing-4);

  background-color: var(--background-hover-color);
  z-index: 2;

  transition: transform var(--transition-duration-normal) ease-in-out;

  overflow-y: auto;

  &.left {
    left: 0;

    transform: translateX(-100%);
  }

  &.right {
    right: 0;

    transform: translateX(100%);
  }

  &.left.opened,
  &.right.opened {
    transform: translateX(0);
  }

  .m-side-panel-close-icon-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    .m-side-panel-close-icon {
      padding: var(--spacing-2);
      margin-top: calc((-1 * var(--spacing-2)));
      margin-right: calc((-1 * var(--spacing-2)));

      color: var(--icon-color);

      transition: var(--transition-duration-fast);

      &:hover {
        color: var(--icon-hover-color);
      }
    }
  }
}
