.m-side-panel {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;

  width: 300px;
  height: 100vh;
  padding: var(--spacing-4);

  background-color: var(--background-hover-color);
  z-index: var(--z-index-drawer);

  transition: transform var(--transition-duration-normal) ease-in-out;

  overflow-y: auto;

  &.left {
    left: 0;

    transform: translateX(-100%);

    .m-side-panel-close-icon-container {
      justify-content: flex-end;

      .m-side-panel-close-icon {
        margin-top: calc((-1 * var(--spacing-2)));
        margin-right: calc((-1 * var(--spacing-2)));
      }
    }
  }

  &.right {
    right: 0;

    transform: translateX(100%);

    .m-side-panel-close-icon-container {
      justify-content: flex-start;

      .m-side-panel-close-icon {
        margin-top: calc((-1 * var(--spacing-2)));
        margin-left: calc((-1 * var(--spacing-2)));
      }
    }
  }

  &.left.opened,
  &.right.opened {
    transform: translateX(0);
  }

  .m-side-panel-close-icon-container {
    display: flex;
    width: 100%;

    .m-side-panel-close-icon {
      padding: var(--spacing-2);

      color: var(--icon-color);

      transition: var(--transition-duration-fast);

      &:hover {
        color: var(--icon-hover-color);
      }
    }
  }
}
