@use "./Overlay.theme.scss";

.m-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  z-index: var(--z-index-overlay);
}

.body-no-scroll {
  overflow: hidden;
}
