.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button {
  --day-button-height: calc(var(--day-button-width) - 4px);

  width: var(--day-button-width);
  height: var(--day-button-height);

  outline: none;
  box-shadow: none;
  border: 2px solid transparent;

  transition: var(--fast-transition);
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button:first-of-type {
  border-top-left-radius: 3px;
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button:nth-child(7) {
  border-top-right-radius: 3px;
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button:nth-child(29) {
  border-bottom-left-radius: 3px;
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button:last-of-type {
  border-bottom-right-radius: 3px;
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button.current {
  border-radius: 3px;

  font-weight: bold;
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button.selected {
  border-radius: 3px;
  border: 2px solid;

  pointer-events: none;
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button.current.selected {
  border: 1px solid;
  margin: 1px;

  width: calc(var(--day-button-width) - 2px);
  height: calc(var(--day-button-height) - 2px);
}

.date-picker-popup .date-picker-popup-dates-container .date-picker-popup-date-button:not(.selected):hover {
  cursor: pointer;
}

.date-picker-popup
  .date-picker-popup-dates-container
  .date-picker-popup-date-button:not(.selected):not(.current):hover {
  border-radius: 3px;

  font-weight: bold;
}
