.m-dropdown-options {
  position: absolute;

  padding-left: 0px;
  border-radius: var(--border-radius) !important;
  margin: unset;

  list-style: none;
  z-index: 5;

  overflow: auto;
}

.m-dropdown-options .m-dropdown-option {
  padding: 7px 10px;
  height: 32px;

  transition: var(--fast-transition);
}

.m-dropdown-options .m-dropdown-option.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.m-dropdown-options .m-dropdown-option:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.m-dropdown-options .m-dropdown-option:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
