.m-dropdown-container .m-dropdown-clear-icon {
    border-radius: 100%;
    margin-left: -2.25rem;
    z-index: 1;

    transition: 0.2s;

    cursor: pointer;
}

.m-dropdown-container.error .m-dropdown-clear-icon {
    margin-left: -2.9rem;
}

.m-dropdown-container .m-dropdown-icon {
    margin-left: -1.5rem;
    z-index: 1;
    transition: 0.2s;
    cursor: pointer;
}

.m-dropdown-container:focus-within .m-dropdown-icon {
    transform: rotateX(180deg);
}

.m-dropdown-container:has(.m-dropdown-control.read-only) .m-dropdown-clear-icon,
.m-dropdown-container:has(.m-dropdown-control:disabled) .m-dropdown-clear-icon,
.m-dropdown-container:has(.m-dropdown-control.read-only) .m-dropdown-icon,
.m-dropdown-container:has(.m-dropdown-control:disabled) .m-dropdown-icon {
    display: none;
}
