.m-dropdown-container {
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: var(--input-margin-bottom);
}

.m-dropdown-container .m-dropdown {
    position: unset;
    border: none;
    outline: none;
    height: var(--input-height);
    font-size: var(--input-font-size);
    padding-left: var(--input-padding-left);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;
    color: inherit;
}

.m-dropdown-container .m-dropdown.left {
}

.m-dropdown-container .m-dropdown.right {
}

.m-dropdown-container .m-dropdown:hover {
    transition: 0.2s;
}
.m-dropdown-container .m-dropdown:focus {
    transition: 0.1s;
}

.m-dropdown-container .m-dropdown-clear-icon {
    padding: 3px 6px;
    border-radius: 100%;
    margin-left: -40px;
    z-index: 1 !important;

    transition: 0.2s;

    cursor: pointer;
}

.m-dropdown-container.error .m-dropdown-clear-icon {
    margin-left: -51px;
}

.m-dropdown-container .m-dropdown-icon {
    margin-left: -25px;
    z-index: 1 !important;
    transition: 0.2s;
}

.m-dropdown-container.focused .m-dropdown-icon {
    transform: rotateX(180deg);
}

.m-dropdown-container.disabled .m-dropdown-clear-icon,
.m-dropdown-container.disabled .m-dropdown-icon {
    display: none;
}

.m-dropdown-label {
    color: inherit;
    position: absolute;
    font-size: var(--input-font-size);
    padding-left: var(--input-label-padding-left);
    pointer-events: none;
    transition: 0.2s;
}

.m-dropdown-label.floating {
    transform-origin: 0 0;
    transform: translate(var(--floating-label-translate-x), calc(var(--floating-label-translate-y) - 4px));
}

.m-dropdown-container.focused .m-dropdown-label.floating,
.m-dropdown-container.filled .m-dropdown-label.floating {
    transform: translate(var(--floating-label-translate-x-active), calc(var(--floating-label-translate-y-active) - 7px));
    font-size: var(--floating-label--font-size-active);
}

.m-dropdown-label.reft,
.m-dropdown-label.right {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.m-dropdown-label.reft {
    left: 0;
}

.m-dropdown-label.right {
}

.m-dropdown-list {
    position: absolute;

    padding-left: 0px;
    border-radius: var(--border-radius) !important;

    list-style: none;
    z-index: 5;

    margin: unset;
    margin-top: 5px;
}

.m-dropdown-list .m-dropdown-list-item {
    padding: 7px 10px;

    transition: 0.15s;
}

.m-dropdown-list .m-dropdown-list-item.empty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.m-dropdown-list .m-dropdown-list-item:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.m-dropdown-list .m-dropdown-list-item:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.m-dropdown-list .m-dropdown-list-item.selected {
}

/* error section */
.m-dropdown-container.error .m-dropdown {
    border: 1px solid var(--failure-color);
    color: var(--failure-color) !important;
}

.m-dropdown-container.error .m-dropdown:focus {
    box-shadow: var(--big-box-shadow) var(--failure-color);
}

.m-dropdown-container.error .m-dropdown:not(:disabled)::placeholder {
    color: var(--failure-color) !important;
}

.m-dropdown-container.error .m-dropdown-label {
    color: var(--failure-color) !important;
}
