.m-dropdown-container .m-dropdown-icon {
  z-index: 1;
  transition: var(--transition);
  cursor: pointer;
}

.m-dropdown-container .m-dropdown-clear-icon {
  border-radius: 100%;
  margin-left: -2.25rem;
  transition: 0s !important;
}

.m-dropdown-container.error .m-dropdown-clear-icon {
  margin-left: -2.9rem;
}

.m-dropdown-container .m-dropdown-indicator-icon {
  margin-left: -1.5rem;
}

.m-dropdown-container:focus-within .m-dropdown-indicator-icon {
  transform: rotateX(180deg);
}

.m-dropdown-container:has(.m-dropdown-control.read-only):not(.dropdown-error) .m-dropdown-icon,
.m-dropdown-container:has(.m-dropdown-control:disabled):not(.dropdown-error) .m-dropdown-icon {
  display: none;
}
