/*! CHECKBOX SECTION */
.light-blue-theme-dark-mode-theme .m-checkbox-container {
    color: var(--input-text-color);
}

.light-blue-theme-dark-mode-theme .m-checkbox {
    background: var(--input-background-color);
    border-color: var(--border-color) !important;
}

.light-blue-theme-dark-mode-theme .m-checkbox:active {
    box-shadow: var(--small-box-shadow) var(--box-shadow-color);
}

.light-blue-theme-dark-mode-theme .m-checkbox:hover {
    background: var(--input-hover-background-color);
}

.light-blue-theme-dark-mode-theme .m-checkbox .m-checkbox-check-icon {
    color: var(--primary-color_300) !important;
}

.light-blue-theme-dark-mode-theme .m-checkbox:hover .m-checkbox-check-icon {
    color: var(--primary-color_200) !important;
}
