/*! CHECKBOX SECTION */
.light-blue-theme-dark-mode-container .m-checkbox-container {
    color: var(--light-grey_200);
}

.light-blue-theme-dark-mode-container .m-checkbox {
    background: var(--dark-grey_400);
    border-color: var(--primary-color_300) !important;
}

.light-blue-theme-dark-mode-container .m-checkbox:hover {
    background-color: var(--dark-grey_200);
}

.light-blue-theme-dark-mode-container .m-checkbox-check-icon {
    color: var(--primary-color_300) !important;
}
.light-blue-theme-dark-mode-container .m-checkbox-label {
    color: var(--primary-color_300);
}
