/*! INPUT SECTION */
.light-blue-theme-dark-mode-container .m-input-container {
    color: var(--primary-color_300);
}

.light-blue-theme-dark-mode-container .m-input {
    background: var(--dark-grey_400);
    color: var(--primary-color_300);
}

.light-blue-theme-dark-mode-container .m-input:focus,
.light-blue-theme-dark-mode-container .m-input:hover {
    background-color: var(--dark-grey_300);
}

.light-blue-theme-dark-mode-container .m-input-label--floating.filled,
.light-blue-theme-dark-mode-container .m-input-label--floating.focused {
    color: var(--primary-color_200);
}
