/*! TEXTAREA SECTION */
.light-blue-theme-dark-mode-theme .m-textarea-container {
    color: var(--input-text-color);
}

.light-blue-theme-dark-mode-theme .m-textarea {
    background: var(--input-background-color);
}

.light-blue-theme-dark-mode-theme .m-textarea:focus {
    box-shadow: var(--big-box-shadow) var(--box-shadow-color);
}

.light-blue-theme-dark-mode-theme .m-textarea:focus,
.light-blue-theme-dark-mode-theme .m-textarea:hover {
    background-color: var(--input-hover-background-color);
}

.light-blue-theme-dark-mode-theme .m-textarea:not(:disabled)::placeholder {
    color: var(--input-placeholder-color);
}

.light-blue-theme-dark-mode-theme .m-textarea-container .m-textarea::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
}
