/*! INPUT SECTION */
.light-blue-theme-dark-mode-theme .m-textfield {
    background: var(--input-background-color);
    color: var(--input-text-color) !important;
}

.light-blue-theme-dark-mode-theme .m-textfield:focus {
    box-shadow: var(--big-box-shadow) var(--box-shadow-color);
}

.light-blue-theme-dark-mode-theme .m-textfield:focus,
.light-blue-theme-dark-mode-theme .m-textfield:hover {
    background-color: var(--input-hover-background-color);
}

.light-blue-theme-dark-mode-theme .m-textfield:not(:disabled)::placeholder {
    color: var(--input-placeholder-color);
}
