.m-image-container > div .icons-container {
  width: 0px;
  position: relative;
  z-index: 1;
}

.m-image-container > div .icons-container .m-image-icon.m-image-zoom {
  left: 3px;
  top: 3px;
}

.m-image-container > div .icons-container .m-image-icon.m-image-delete {
  left: 3px;
  top: 3px;
  transform: translateY(calc(100% + 3px));
}
