.common-wrapper-container {
  .m-card {
    background-color: var(--popups-background-color);
    color: var(--primary-text-color_300) !important;

    &.border {
      border: var(--border-base) solid var(--alert-border-color);
    }

    &.gradient-border-glow,
    &.gradient-border {
      &::after,
      &::before {
        background: conic-gradient(from var(--gradient-angle), var(--card-gradient-colors));
      }
    }
  }
}
