.m-textarea-container .m-textarea {
  box-sizing: border-box;

  height: var(--input-height);
  padding-top: 4px;
  padding-left: var(--input-padding-left);
  border-radius: var(--border-radius);
  border: none;
  outline: none;

  font-size: var(--input-font-size);
  transition: var(--transition);
  resize: vertical;
}

.m-textarea-container .m-textarea:hover {
  transition: var(--transition);
}

.m-textarea-container .m-textarea:active {
  transition: var(--fast-transition);
}

.m-textarea-container .m-textarea::-webkit-scrollbar {
  width: 8px;
}

.m-textarea-container .m-textarea::-webkit-scrollbar-thumb {
  border-radius: 30px;
}
