.m-textarea-container {
    position: relative;
    margin-bottom: calc(var(--input-margin-bottom) - 4px);
}

.m-textarea-container .m-textarea {
    border: none;
    outline: none;
    height: 90px;
    font-size: var(--input-font-size);
    padding-top: 4px;
    padding-left: var(--input-padding-left) !important;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    transition: 0.2s ease-in-out;
    resize: vertical;
    color: inherit;
}

.m-textarea-container .m-textarea.left {
}

.m-textarea-container .m-textarea.right {
}

.m-textarea-container .m-textarea:hover {
}

.m-textarea-container .m-textarea:active {
    transition: 0s !important;
}

.m-textarea-label {
    color: inherit;
    position: absolute;
    padding-left: var(--input-label-padding-left);
    pointer-events: none;
    transition: 0.2s;
}

.m-textarea-label--floating {
    transform-origin: 0 0;
    transform: translate(var(--floating-label-translate-x), var(--floating-label-translate-y));
}

.m-textarea-label--floating.filled,
.m-textarea-label--floating.focused {
    transform: translate(var(--floating-label-translate-x-active), var(--floating-label-translate-y-active));
    font-size: var(--floating-label--font-size-active);
}

.m-textarea-label--left,
.m-textarea-label--right {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.m-textarea-label--left {
    left: 0;
}

.m-textarea-label--right {
}

.m-textarea-container .m-textarea::-webkit-scrollbar {
    width: 8px;
}

.m-textarea-container .m-textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

.m-textarea-container .m-textarea::-webkit-scrollbar-thumb {
    border-radius: 30px;
}

/* error section */
.m-textarea-container.error .m-textarea {
    border: 1px solid var(--failure-color);
    color: var(--failure-color) !important;
}

.m-textarea-container.error .m-textarea:focus {
    box-shadow: var(--big-box-shadow) var(--failure-color);
}

.m-textarea-container.error .m-textarea:not(:disabled)::placeholder {
    color: var(--failure-color) !important;
}

.m-textarea-container.error .m-textarea-label {
    color: var(--failure-color) !important;
}
