.m-accordion .m-accordion-toggle {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: var(--accordion-background);
  transition: background-color var(--transition);
  overflow: hidden;
}

.m-accordion .m-accordion-toggle .m-accordion-toggle-indicator {
  transition: var(--transition);
}

.m-accordion .m-accordion-toggle .m-accordion-toggle-indicator.left {
  margin: 0 0.5rem;
}

.m-accordion .m-accordion-toggle .m-accordion-toggle-indicator.right {
  margin: 0 0.5rem 0 auto;
}

.m-accordion .m-accordion-toggle.expanded .m-accordion-toggle-indicator {
  transform: rotate(90deg);
}

.m-accordion .m-accordion-toggle.expanded {
  border-radius: 0;
}

.m-accordion .m-accordion-toggle:not(.expanded):not(.selected):hover {
  background-color: var(--accordion-hover-background);
}

.m-accordion .m-accordion-toggle.selected,
.m-accordion .m-accordion-toggle.expanded {
  background-color: var(--highlighted-accordion-background);
}

/* default variant */
.m-accordion.default .m-accordion-toggle {
  height: 2.5rem;
  padding: 0.25rem;

  border-radius: var(--border-radius);
}

/* compact variant */
.m-accordion.compact .m-accordion-toggle {
  height: 1.5rem;
  padding: 0.2rem;

  border-radius: calc(var(--border-radius) / 2);
  font-size: 0.9rem;
  line-height: 24px;
}

.m-accordion.compact .m-accordion-toggle .m-accordion-toggle-indicator {
  font-size: 0.75rem;
}
