.m-accordion {
  &.default {
    .m-accordion-toggle {
      height: 2.5rem;
      padding: var(--spacing-1);

      border-radius: var(--radius-md);

      .m-accordion-toggle-indicator {
        padding: var(--spacing-2);
      }
    }
  }

  &.compact {
    .m-accordion-toggle {
      height: 1.5rem;
      padding: var(--spacing-1);

      border-radius: var(--radius-sm);
      font-size: var(--font-size-sm);
      line-height: var(--line-height-normal);

      .m-accordion-toggle-indicator {
        padding: var(--spacing-1);
        font-size: var(--font-size-2xs);
      }
    }
  }

  .m-accordion-toggle {
    display: flex;
    align-items: center;
    width: 100%;

    overflow: hidden;

    .m-accordion-toggle-indicator {
      aspect-ratio: 1 / 1;
    }

    &.expanded {
      border-radius: var(--radius-none);

      .m-accordion-toggle-indicator {
        transform: rotate(90deg);
      }
    }

    .m-accordion-toggle-indicator {
      transition: var(--transition-duration-normal);

      &.right {
        margin-left: auto;
      }
    }
  }
}
