/*! BUTTON SECTION */
/* VARIANT OUTLINED */
.default-theme-dark-mode-container button:disabled {
    background-color: #646464;
}

.default-theme-dark-mode-container button.outlined {
    border-color: var(--primary-color);
    background-color: var(--background-color);
    color: var(--primary-color);
}

.default-theme-dark-mode-container button.outlined:hover:enabled {
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.default-theme-dark-mode-container button.outlined:active:enabled {
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* VARIANT FULL */
.default-theme-dark-mode-container button.full {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

.default-theme-dark-mode-container button.full:hover:enabled {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    filter: brightness(0.925);
}

.default-theme-dark-mode-container button.full:active:enabled {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    filter: brightness(0.85);
}

/* VARIANT TEXT */
.default-theme-dark-mode-container button.text {
    color: var(--primary-color);
}

.default-theme-dark-mode-container button.text:hover:enabled {
    background-color: var(--background-color);
    filter: brightness(1.25);
}

.default-theme-dark-mode-container button.text:active:enabled {
    background-color: var(--background-color);
    filter: brightness(1.4);
}
