/*! BUTTON SECTION */
/* VARIANT OUTLINED */
.default-theme-dark-mode-container .m-button.outlined {
    border-color: var(--light-grey_200);
    background-color: var(--dark-grey_600);
    color: var(--light-grey_200);
}

.default-theme-dark-mode-container .m-button.outlined:hover:enabled {
    border-color: var(--dark-grey_600);
    background-color: var(--light-grey_200);
    color: var(--dark-grey_600);
}

.default-theme-dark-mode-container .m-button.outlined:active:enabled {
    border-color: var(--dark-grey_600);
    background-color: var(--light-grey_200);
    color: var(--dark-grey_600);
}

/* VARIANT FULL */
.default-theme-dark-mode-container .m-button.full {
    border-color: var(--light-grey_200);
    background-color: var(--light-grey_200);
    color: var(--dark-grey_600);
}

.default-theme-dark-mode-container .m-button.full:hover:enabled {
    border-color: var(--light-grey_600);
    background-color: var(--light-grey_600);
    color: var(--dark-grey_600);
}

/* VARIANT TEXT */
.default-theme-dark-mode-container .m-button.text {
    color: var(--light-grey_200);
}

.default-theme-dark-mode-container .m-button.text:hover:enabled {
    background-color: var(--dark-grey_300);
}

.default-theme-dark-mode-container .m-button.text:active:enabled {
    background-color: var(--dark-grey_200);
}
