.default-theme-dark-mode-theme .m-card {
    background-color: var(--card-background-color);
    color: var(--white);
}

.default-theme-dark-mode-theme .m-card.border {
    border: var(--border) var(--border-color);
}

.default-theme-dark-mode-theme .m-card.gradient-border-glow::after,
.default-theme-dark-mode-theme .m-card.gradient-border-glow::before,
.default-theme-dark-mode-theme .m-card.gradient-border::after,
.default-theme-dark-mode-theme .m-card.gradient-border::before {
    background: conic-gradient(
        from var(--gradient-angle),
        var(--dark-grey_300),
        var(--dark-grey_100),
        var(--light-grey_600),
        var(--light-grey_300),
        var(--light-grey_600),
        var(--dark-grey_100),
        var(--dark-grey_300)
    );
}
