/*! CHECKBOX SECTION */
.default-theme-dark-mode-theme .m-checkbox-container {
    color: var(--input-text-color);
}

.default-theme-dark-mode-theme .m-checkbox {
    background: var(--input-background-color);
    border-color: var(--border-color) !important;
}

.default-theme-dark-mode-theme .m-checkbox:active {
    box-shadow: var(--small-box-shadow) var(--box-shadow-color);
}

.default-theme-dark-mode-theme .m-checkbox:hover {
    background: var(--input-hover-background-color);
}

.default-theme-dark-mode-theme .m-checkbox-check-icon {
    color: var(--light-grey_400) !important;
}

.default-theme-dark-mode-theme .m-checkbox:hover .m-checkbox-check-icon {
    color: var(--light-grey_300) !important;
}

.default-theme-dark-mode-theme .m-checkbox-label.right,
.default-theme-dark-mode-theme .m-checkbox-label.left {
    color: var(--input-label-color) !important;
}
