/*! CHECKBOX SECTION */
.default-theme-dark-mode-container .m-checkbox-container {
    color: var(--light-grey_200);
}

.default-theme-dark-mode-container .m-checkbox {
    background: var(--dark-grey_300);
    border-color: var(--light-grey_400) !important;
}

.default-theme-dark-mode-container .m-checkbox:hover {
    background: var(--dark-grey_200);
}

.default-theme-dark-mode-container .m-checkbox-check-icon {
    color: var(--light-grey_400) !important;
}

.default-theme-dark-mode-container .m-checkbox:hover .m-checkbox-check-icon {
    color: var(--light-grey_300) !important;
}
