.default-theme-dark-mode-container {
    --primary-color: rgb(219, 219, 219);
    --secondary-color: #383838;

    --background-color: #383838;
    --input-background-color: rgb(88, 88, 88);

    --active-brightness: 0.9;

    --input-text-color: rgb(219, 219, 219);
    --placeholder-text-color: rgb(146, 146, 146);
    --light-grey-color: rgb(112, 112, 112);
}
