/*! DROPDOWN SECTION */
.default-theme-dark-mode-container .m-dropdown-container {
    color: var(--light-grey_200);
}

.default-theme-dark-mode-container .m-dropdown-container .m-dropdown-clear-icon:hover {
    background: var(--dark-grey_200);
}

.default-theme-dark-mode-container .m-dropdown {
    background: var(--dark-grey_400);
}

.default-theme-dark-mode-container .m-dropdown:not(:disabled):focus,
.default-theme-dark-mode-container .m-dropdown:not(:disabled):hover {
    background-color: var(--dark-grey_200);
}

.default-theme-dark-mode-container .m-dropdown:not(:disabled):focus,
.default-theme-dark-mode-container .m-dropdown:not(:disabled):hover {
    background-color: var(--dark-grey_200);
}

.default-theme-dark-mode-container .m-dropdown:not(:disabled):focus::placeholder,
.default-theme-dark-mode-container .m-dropdown:not(:disabled):hover::placeholder {
    color: var(--light-grey_800) !important;
}

.default-theme-dark-mode-container .m-dropdown-list {
    background-color: var(--dark-grey_400);
    color: var(--light-grey_200);
}

.default-theme-dark-mode-container .m-dropdown-list .m-dropdown-list-item:not(.empty-message):hover {
    background-color: var(--dark-grey_200);
}

.default-theme-dark-mode-container .m-dropdown-label--floating {
    color: var(--light-grey_800);
}

.default-theme-dark-mode-container .m-dropdown-label--floating.filled,
.default-theme-dark-mode-container .m-dropdown-label--floating.focused {
    color: var(--light-grey_200);
}

.default-theme-dark-mode-container .m-dropdown-list .m-dropdown-list-item:not(.empty-message):active,
.default-theme-dark-mode-container .m-dropdown-list .m-dropdown-list-item:not(.empty-message).selected {
    background-color: var(--dark-grey_200);
}
