/*! INPUT SECTION */
.default-theme-dark-mode-container .m-input-container {
    color: var(--input-text-color);
}

.default-theme-dark-mode-container .m-input {
    background: var(--input-background-color);
}

.default-theme-dark-mode-container .m-input:focus,
.default-theme-dark-mode-container .m-input:hover {
    filter: brightness(1.175);
}

.default-theme-dark-mode-container .m-input-label--floating.filled,
.default-theme-dark-mode-container .m-input-label--floating.focused {
    filter: brightness(1.7);
}
