/*! INPUT SECTION */
.default-theme-dark-mode-theme .m-input-container {
    color: var(--input-text-color);
}

.default-theme-dark-mode-theme .m-input {
    background: var(--input-background-color);
}

.default-theme-dark-mode-theme .m-input:focus {
    box-shadow: var(--big-box-shadow) var(--box-shadow-color);
}

.default-theme-dark-mode-theme .m-input:focus,
.default-theme-dark-mode-theme .m-input:hover {
    background-color: var(--input-hover-background-color);
}

.default-theme-dark-mode-theme .m-input:not(:disabled)::placeholder {
    color: var(--input-placeholder-color);
}

.default-theme-dark-mode-theme .m-input:not(:disabled):focus::placeholder,
.default-theme-dark-mode-theme .m-input:not(:disabled):hover::placeholder {
    color: var(--input-hover-placeholder-color);
}

.default-theme-dark-mode-theme .m-input-label.right,
.default-theme-dark-mode-theme .m-input-label.left {
    color: var(--input-label-color) !important;
}

.default-theme-dark-mode-theme .m-input-label.floating {
    color: var(--input-placeholder-color);
}

.default-theme-dark-mode-theme .m-input:hover + .m-input-label.floating,
.default-theme-dark-mode-theme .m-input-label.floating.filled,
.default-theme-dark-mode-theme .m-input-label.floating.focused {
    color: var(--input-hover-placeholder-color);
}
