/*! TEXTAREA SECTION */
.default-theme-dark-mode-theme .m-textarea-container {
    color: var(--input-text-color);
}

.default-theme-dark-mode-theme .m-textarea {
    background: var(--input-background-color);
}

.default-theme-dark-mode-theme .m-textarea:focus {
    box-shadow: var(--big-box-shadow) var(--box-shadow-color);
}

.default-theme-dark-mode-theme .m-textarea:focus,
.default-theme-dark-mode-theme .m-textarea:hover {
    background-color: var(--input-hover-background-color);
}

.default-theme-dark-mode-theme .m-textarea:not(:disabled)::placeholder {
    color: var(--input-placeholder-color);
}

.default-theme-dark-mode-theme .m-textarea:not(:disabled):focus::placeholder,
.default-theme-dark-mode-theme .m-textarea:not(:disabled):hover::placeholder {
    color: var(--input-hover-placeholder-color);
}

.default-theme-dark-mode-theme .m-textarea-label.right,
.default-theme-dark-mode-theme .m-textarea-label.left {
    color: var(--input-label-color) !important;
}

.default-theme-dark-mode-theme .m-textarea-label.floating {
    color: var(--input-placeholder-color);
}

.default-theme-dark-mode-theme .m-textarea:hover + .m-textarea-label.floating,
.default-theme-dark-mode-theme .m-textarea-label.floating.filled,
.default-theme-dark-mode-theme .m-textarea-label.floating.focused {
    color: var(--input-hover-placeholder-color);
}

.default-theme-dark-mode-theme .m-textarea-container .m-textarea::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
}
