.m-dropdown-menu .m-dropdown-menu-item .m-dropdown-submenu {
  position: absolute;

  padding: unset;

  border-radius: var(--border-radius);
  border: 1px solid;

  transition: opacity var(--fast-transition);
}
