.test-container {
  display: flex;
  align-items: center;
  width: 100%;

  height: 38px;
  padding: 0.25rem;
  border-radius: 6px;

  background-color: var(--accordion-background);
  transition: 0.2s;
}

.test-container.expanded {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
